<header>
    <!----pre Header----->
    <nav class="navbar navbar-expand-lg fixed-top bg-white" *ngIf="this.helpers.type == '0'">
        <div class="container-lg">
            <button class="navbar-toggler border-0 order-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon me-1"></span>
                MENU
            </button>
            <a class="navbar-brand ms-lg-3 me-0 order-3 order-lg-1" href="#">
                <img src="assets/img/logo.svg" alt="" width="100">
            </a>
        </div>
    </nav>
    <!----Header admin----->
    <nav class="navbar navbar-expand-lg fixed-top bg-white" *ngIf="this.helpers.type == '1'">
        <div class="container-lg">
            <button class="navbar-toggler border-0 order-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon me-1"></span>
                MENU
            </button>
            <a class="navbar-brand ms-lg-3 me-0 order-3 order-lg-1" href="#">
                <img src="assets/img/logo.svg" alt="" width="100">
            </a>
            <div class="collapse navbar-collapse order-5 order-lg-2" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/cursos']" data-bs-toggle="tooltip" title="CURSOS">
                            <img src="assets/img/nav6.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">CURSOS</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/archivos']" data-bs-toggle="tooltip" title="ARCHIVOS">
                            <img src="assets/img/nav7.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">ARCHIVOS</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/examenes']" data-bs-toggle="tooltip" title="ASIGNACIONES">
                            <img src="assets/img/nav8.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">ASIGNACIONES</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/estadisticas']" data-bs-toggle="tooltip"
                            title="ESTADISTICAS">
                            <img src="assets/img/nav9.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">ESTADISTICAS</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/conferencias']" data-bs-toggle="tooltip"
                            title="VIDEO CONFERENCIAS">
                            <img src="assets/img/nav10.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">VIDEO CONFERENCIAS</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/mail']" data-bs-toggle="tooltip" title="CORREOS">
                            <img src="assets/img/nav11.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">CORREOS</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/usuarios']" data-bs-toggle="tooltip" title="USUARIOS">
                            <img src="assets/img/nav12.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">USUARIOS</label>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/configuracion']" data-bs-toggle="tooltip"
                            title="CONFIGURACION">
                            <img src="assets/img/nav13.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                            <label class="d-block d-lg-none text10 text-white">CONFIGURACION</label>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="ps-0 mb-0 ms-md-5 order-2 order-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{this.helpers.getName()}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-lg-end" aria-labelledby="navbarDropdown">
                        <li (click)="this.helpers.logout()"><a class="dropdown-item bg-grey rounded-bottom">Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!----Header usuario----->
    <div class="transbox" *ngIf="this.helpers.type == '4'">
        <img class="transboximg" src="{{this.helpers.domain+'media/'+this.getImage()}}" *ngIf="this.session.curso === true">
        <nav id="nav" class="navbar navbar-expand-lg fixed-top" (scroll)="onWindowScroll()">
            <div class="container-lg">
                <button class="navbar-toggler border-0 order-1" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon me-1"></span>
                    MENU
                </button>
                <a class="navbar-brand ms-lg-3 me-0 order-3 order-lg-1" [routerLink]="['/cmtemplate']">
                    <!--<img src="{{this.helpers.domain+'media/logo.png}}" alt="" width="100">-->
                    <!--<img src="assets/img/LOGO_AMERICARGO_slid.png" alt="" width="100">-->
                    <img src="assets/img/logo.svg" alt="" width="100">
                </a>
                <div class="collapse navbar-collapse order-5 order-lg-2" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <!--<a class="nav-link" [routerLink]="['/cmtemplate']">-->
                                <a class="nav-link" (click)="goTo(1)">
                                <img src="assets/img/nav1.svg" alt="" width="25" height="25" class="d-lg-block d-none" title="Home">
                                <label class="d-block d-lg-none text10 text-white">HOME</label>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="this.session.curso === true">
                            <a class="nav-link" href="#" type="button" data-bs-toggle="modal"
                                data-bs-target="#archivos">
                                <img src="assets/img/nav2.svg" alt="" width="25" height="25" class="d-lg-block d-none" title="Archivos">
                                <label class="d-block d-lg-none text10 text-white">ARCHIVOS</label>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="this.helpers.conferencias === true">
                            <a class="nav-link" href="#" type="button" data-bs-toggle="modal"
                                data-bs-target="#conferencias">
                                <img src="assets/img/nav3.svg" alt="" width="25" height="25" class="d-lg-block d-none" title="Conferencias">
                                <label class="d-block d-lg-none text10 text-white">CONFERENCIAS</label>
                            </a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="assets/img/nav4.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                                <label class="d-block d-lg-none text10 text-white">NOTAS</label>
                            </a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="#" type="button" data-bs-toggle="modal" data-bs-target="#ayuda" title="Ayuda">
                                <img src="assets/img/nav5.svg" alt="" width="25" height="25" class="d-lg-block d-none">
                                <label class="d-block d-lg-none text10 text-white" >AYUDA</label>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--form class="ms-lg-5 order-4 order-lg-3 buscar" role="search">
                <div class="input-group">
                    <span class="input-group-text botonbuscar">
                        <img src="assets/img/search.svg" alt="" width="20" height="20">
                    </span>
                    <input class="input" type="search" placeholder="Buscar" aria-label="Search">
                </div>
            </form-->
                <ul class="ps-0 mb-0 ms-md-5 order-2 order-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{this.helpers.getName()}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-lg-end" aria-labelledby="navbarDropdown">
                            <li><a class="text-white dropdown-item bg-blue rounded-top" (click)="goTo(2)">Perfil</a></li>
                            <li (click)="this.helpers.logout()"><a class="dropdown-item bg-grey rounded-bottom">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div *ngIf="this.session.curso === true">
            <h1 class="text1 text-white d-block mb-0" *ngIf="this.helpers.nameModuleBackUp != ''">Módulo {{this.helpers.nameModuleBackUp}}</h1>
            <h1 class="text1 text-white d-block mb-0" *ngIf="this.helpers.nameTopicBackUp != ''">Tema: {{this.helpers.nameTopicBackUp}}</h1>

        </div>
    </div>
</header>
