<div class="container-lg page-content d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <form class="">
        <h1 class="text txt-blue">Inicia sesión</h1>
        <hr class="w-100">
        <div class="form-group mt-5 mb-4">
          <input type="email" class="input2" id="inputEmail4" name="email" placeholder="Email" required />
        </div>
        <div class="form-group mb-2">
          <input type="password" class="input2" id="inputPassword4"
            name="password" placeholder="Contraseña" required />
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input ml-0" type="checkbox" id="gridCheck"/>
            <label class="form-check-label text9 txt-gris2" for="gridCheck">
              Mostrar Contraseña
            </label>
          </div>
        </div>
        <button type="submit" class="boton mx-auto d-block mt-4">
          Ingresar
        </button>
      </form>
    </div>
  </div>
</div>
