<div class="page-content container-lg pt-5">
    <div class="row pt-3">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card color p-3 p-md-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h1 class="text2 txt-blue">Valley</h1>
                            <hr class="w-100">
                            <div class="ratio ratio-16x9 mt-5">
                                <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-2 col-lg-1 offset-8 offset-lg-10">
                            <img src="../img/new/like.svg" class="w-100" alt="">
                        </div>
                        <div class="col-2 col-lg-1">
                            <img src="../img/new/deslike.svg" class="w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card color p-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Avance de medalla</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img src="../img/new/medallaavance.svg" class="mx-auto d-block w-25" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card color p-3 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Medallas del módulo</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-4">
                            <img src="../img/new/medallaavance.svg" class="mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Terminado</label>
                        </div>
                        <div class="col-4">
                            <img src="../img/new/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Perfecto</label>
                        </div>
                        <div class="col-4">
                            <img src="../img/new/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Tiempo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card color p-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p class="text6 txt-blue">Vídeo Corporativo de ALMER (almacenadora mercader) líder en el ramo 
                                de guardado y administración de mercancías.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-7 col-lg-8">
                            <img src="../img/new/logotema.svg" class="w-50 mx-auto d-block mb-4" alt="">
                            <h1 class="text4 txt-blue">Valley</h1>
                            <p class="text9 txt-blue">Valley Supreme es una empresa que esta a la vanguardia en el cultivo de fresas.</p>
                            <p class="text6 txt-blue mt-3 mb-0">NOSOTROS</p>
                            <p class="text9 txt-blue">Somos una empresa 100% mexicana, con más de 55 años de trayectoria, 
                                nuestro fundador fue Don Augusto Wirz, un hombre visionario y trabajador que 
                                fue capaz de crear las herramientas para transformar la historia agrícola del país.
                            </p>
                            <p class="text6 txt-blue mt-3 mb-0">VISIÓN:</p>
                            <p class="text9 txt-blue">Ser una empresa de clase mundial, mantener el liderazgo del negocio medular
                                 en el mercado nacional, aumentar la participación de las unidades de negocio actuales 
                                 en el mercado nacional e internacional, incorporando además nuevas unidades de negocio.
                            </p>
                        </div>
                        <div class="col-12 col-md-1">
                            <div class="vr h-100 d-none d-md-block"></div>
                            <hr class="w-100 d-md-none">
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 text-center mt-4">
                            <h1 class="text6 txt-blue mb-3">Nuestros Productos</h1>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <img src="../img/new/producto.svg" class="w-100" alt="">
                                    <label class="text5 txt-blue mt-3">Aspersión</label>
                                </div>
                                <div class="col-12 mb-3">
                                    <img src="../img/new/producto2.svg" class="w-100" alt="">
                                    <label class="text5 txt-blue mt-3">Preparación del terreno</label>
                                </div>
                                <div class="col-12 mb-3">
                                    <img src="../img/new/producto3.svg" class="w-100" alt="">
                                    <label class="text5 txt-blue mt-3">Siembra</label>
                                </div>
                                <div class="col-12 mb-3">
                                    <img src="../img/new/producto4.svg" class="w-100" alt="">
                                    <label class="text5 txt-blue mt-3">Fertilización y riego</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <button type="button" class="boton3 mx-auto d-block mt-5 p-0 ps-4 pe-4">Finalizado</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card color p-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-2 mb-5 mb-md-0">
                            <img src="../img/new/perfil.svg" class="w-100 h-100 rounded-circle border-blue border-1" alt="">
                        </div>
                        <div class="col-12 col-md-9 col-lg-10 d-flex align-items-center">
                            <input type="text" class="input2 w-100" placeholder="Comentar...">
                        </div>
                        <div class="col-12">
                            <button type="button" class="boton3 text5 mx-auto d-block mt-5 p-0 ps-4 pe-4">Comentar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>