<div class="page-content container-lg top">
    <div class="row pt-3">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card color p-3 p-md-5 mb-5">
                <div class="card-body">
                    <div class="row" *ngIf="this.temasArr">
                        <div class="col-12 mb-4">
                            <h1 class="text2 txt-blue" *ngIf="this.finalizado == 0">{{this.nameTopic}}</h1>
                            <h1 class="text2 txt-blue" *ngIf="this.finalizado == 1">{{this.nameTopic}}: Finalizado</h1>
                            <hr class="w-100">
                            <div class="ratio ratio-16x9 mt-5">
                                <iframe id="urlIframe" nombre="urlIframe" border="none" frameborder="1"
                                    [src]="this.chanceTow" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div *ngIf="this.like == '1'">
                            <div class="row" *ngIf="this.userLike == false">
                                <div class="col-2 col-lg-1 offset-8 offset-lg-10">
                                    <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                        (click)="temasLike(this.idTopic, 1)">
                                        <img class="me-2" src="assets/img/like.svg" alt="like"></button>
                                </div>
                                <div class="col-2 col-lg-1">
                                    <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                        (click)="temasLike(this.idTopic, 1)">
                                        <img class="me-2" src="assets/img/deslike.svg" alt="delike"></button>
                                </div>
                            </div>
                            <div class="row" *ngIf="this.userLike == true">
                                <div class="col-2 col-lg-1 offset-8 offset-lg-10">
                                    <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                        (click)="temasLike(this.idTopic, 1)">
                                        <img *ngIf="this.showLike == '1'" class="me-2" src="assets/img/like.svg" alt="like">
                                        <img *ngIf="this.showLike != '1'" class="me-2 opacity" src="assets/img/like.svg"
                                            alt="like">
                                    </button>
                                </div>
                                <div class="col-2 col-lg-1">
                                    <!--<img src="assets/img/like.svg" class="w-100" alt="">-->
                                    <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                        (click)="temasLike(this.idTopic, 2)">
                                        <img *ngIf="this.showLike != '1'" class="me-2" src="assets/img/deslike.svg"
                                            alt="delike">
                                        <img *ngIf="this.showLike == '1'" class="me-2 opacity"
                                            src="assets/img/deslike.svg" alt="delike">
                                    </button>
                                </div>
                            </div>

                            <!--div class="col-2 col-lg-1 " *ngIf="this.userLike == false">
                                <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                    (click)="temasLike(this.idTopic, 2)">
                                    <img class="me-2" src="assets/img/deslike.svg" alt=""></button>
                            </div>
                            <div class="col-2 col-lg-1 offset-8 offset-lg-10" *ngIf="this.userLike == true">
                                <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                    (click)="temasLike(this.idTopic, 1)">
                                    <img *ngIf="this.showLike == '1'" class="me-2" src="assets/img/like.svg" alt="">
                                    <img *ngIf="this.showLike != '1'" class="me-2 opacity" src="assets/img/like.svg"
                                        alt="">
                                </button>



                                <!--<div class="col-2 col-lg-1 offset-8 offset-lg-10">
                                    <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2">
                                        <img class="me-2" src="assets/img/like.svg" alt=""></button>
                                    </div>
                                    <div class="col-2 col-lg-1">
                                        <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2">
                                        <img class="me-2" src="assets/img/deslike.svg" alt=""></button>
                                    </div>
                            </div>
                            <div class="col-2 col-lg-1 " *ngIf="this.userLike == true">
                                <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2"
                                    (click)="temasLike(this.idTopic, 2)">
                                    <img *ngIf="this.showLike != '1'" class="me-2" src="assets/img/deslike.svg" alt="">
                                    <img *ngIf="this.showLike == '1'" class="me-2 opacity" src="assets/img/deslike.svg"
                                        alt="">
                                </button>
                                    <!--<div class="col-2 col-lg-1 offset-8 offset-lg-10">
                                    <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2">
                                        <img class="me-2" src="assets/img/like.svg" alt=""></button>
                                    </div>
                                    <div class="col-2 col-lg-1">
                                        <button class="boton bg-blue-less mx-auto d-block w-100 p-1 p-md-2">
                                        <img class="me-2" src="assets/img/deslike.svg" alt=""></button>
                                    </div>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <!--<div class="card color p-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label class="text3 txt-blue">Avance de medalla</label>
                                <hr class="w-100">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <img src="assets/img/medallaavance.svg" class="mx-auto d-block w-25" alt="">
                            </div>
                        </div>
                    </div>
                </div>-->
            <!--<div class="card color p-3 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Medallas</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row text-center" *ngIf="this.finalizado == 0">
                        <p class="text9 txt-blue">Una vez que finalices el tema podrás ver aquí tus medallas.</p>
                    </div>
                    <div class="row text-center" *ngIf="this.finalizado == 1">

                        <div class="col-4" *ngIf="this.medalla">
                            <img src="{{this.helpers.domain+'/media/temas/' + this.medalla}}" class="mx-auto d-block w-75" alt="">
                            <!--<label class="text8 txt-blue">Terminado</label>
                        </div>
                        <!--<div class="col-4">
                            <img src="assets/img/medallaavance.svg" class=" mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Perfecto</label>
                        </div>-->
            <!--<div class="col-4">
                                <img src="assets/img/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                                <label class="text8 txt-blue">Tiempo</label>
                            </div>-->
            <!--<div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Tiempo</label>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-12 mt-5">
                <button type="button" class="boton3 mx-auto d-block mt-5 p-0 ps-4 pe-4"
                    (click)="this.temasSeccion(this.helpers.idModuleBackUp, this.helpers.nameModuleBackUp)">Regresar a
                    temas</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card color p-5 mb-5">
                <div class="card-body temas">
                    <div class=" row txt-blue">
                        <div [ngClass]="col.column_size" *ngFor="let col of this.cols; let i = index">
                            <!--<div class="col-12 col-md-1">
                                <div class="vr h-100 d-none d-md-block"></div>

                            </div>-->
                            <p class="text4" *ngIf="col.show_title != '0'">{{col.column_title}}
                            </p>
                            <div [innerHtml]='col.content'>

                            </div>
                        </div>
                    </div>
                    <!--<div *ngFor="let col of this.cols | slice:1; let i = index">
                        <p class="text4" *ngIf=" $any(col)?.show_title != '0'">{{ $any(col)?.column_title}}
                        </p>
                        <div [ngClass]=" $any(col)?.column_size " [innerHtml]=' $any(col)?.content'>

                        </div>
                    </div>-->



                    <!--<div class="row">
                        <div class="col-12">
                            <p class="text4 txt-blue ">{{this.temasArr.title}}
                            </p>
                        </div>
                    </div>-->
                    <div class="row">
                        <!--<div class="col-12 col-md-7 col-lg-8">
                            <!--<h1 class="text4 txt-blue">Valley</h1>-->
                        <!--<h1 class="text4 txt-blue">CAMPEONATO MILLONARIO
                                </h1>
                                <h1 class="text4 txt-blue">CAMPEONATO CHARRO
                                    FUTURITY 2019
                                    RESULTADOS 2019
                                    CONTACTO</h1>
                                <h1 class="text4 txt-blue">FUTURITY 2019
                                </h1>
                                <h1 class="text4 txt-blue">RESULTADOS 2019
                                </h1>
                                <h1 class="text4 txt-blue">
                                    ¿Quiénes somos?
                                </h1>-->
                        <!--<p class="text9 txt-blue">
                                {{this.temasArr.description}}-->
                        <!--<br>
                                    <br>
                                    El área de niñas está inspirado en los aposentos de la princesa persa, donde se
                                    originan los cuentos de “Las mil y una noches™”. Antes de comenzar la lectura, y
                                    mientras preparamos a nuestras pequeñas clientas para sus servicios, les contaremos
                                    por qué elegimos esta serie de cuentos y explicaremos brevemente sobre este mundo
                                    mágico.
                                    <br>
                                    <br>
                                    Preguntaremos si conocen alguna de estas historias, buscando abrir la puerta para
                                    que las niñas puedan ubicarse en su espacio. Conversaremos acerca de la existencia
                                    de estos cuentos, objetos y lugares con poderes increíbles.
                                    <br>
                                    <br>
                                    <img src="assets/img/mm1.jpg" class="w-100" alt="">-->
                        <!--</p>
                            <br>
                            <br>


                        </div>-->
                        <div class="col-12 mt-5" *ngIf="this.finalizado == 0">
                            <button type="button" class="boton3 mx-auto d-block mt-5 p-0 ps-4 pe-4"
                                (click)="temaFinalizado(this.helpers.idTopicBackUp)">Finalizar</button>
                        </div>
                        <div class="col-12 mt-5" *ngIf="this.finalizado == 1">
                            <button type="button" class="boton3copy mx-auto d-block mt-5 p-0 ps-4 pe-4" disabled>Tema
                                Finalizado</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="this.comentario == '1'">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card color p-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-2 mb-5 mb-md-0">
                            <img src="https://ui-avatars.com/api/?background=015287&color=FFFFFF&size=350&rounded=true&bold=true&format=png&name={{this.helpers.name}}"
                                class="w-100 h-100 rounded-circle border-blue border-1" alt="avatar">
                        </div>
                        <div class="col-12 col-md-9 col-lg-10 d-flex align-items-center">
                            <input type="text" class="input2 w-100" placeholder="Comentar..." [(ngModel)]="coment">
                        </div>
                        <div class="col-12">
                            <button type="button" class="boton3 text5 mx-auto d-block mt-5 p-0 ps-4 pe-4"
                                (click)="saveComent()">Comentar</button>
                        </div>

                    </div>
                    <div class="row mt-5" *ngIf="this.comentArr">
                        <div class="col-12 d-flex align-items-center" *ngFor="let comento of this.comentArr">
                            <div class="mb-3">
                                <a class="nav-link txt-blue textoComent not-active" href="#" id="navbarDropdown"
                                    role="button">
                                    {{comento.nombre}}
                                </a>

                                <p type="text" class=" input22 mb-0 w-100"> {{comento.comentario}}</p>
                                <i class="txt-blue">{{comento.fecha}}</i>
                            </div>
                        </div>
                        <!--<input *ngFor="let comento of this.comentArr" type="text" class="input2 w-100" placeholder="{{comento.comentario}}" disabled>-->
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<!-- Modal Archivos-->
<div class="modal fade" id="archivos" tabindex="-1" aria-labelledby="archivos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Archivos</h5>
                <p class="text7 txt-gris mb-3">Estos recursos son brindados con el
                    fin de
                    que puedas guiar tu
                    aprendizaje de la mano de los mismos.</p>
                <div class="card color rounded-4 mb-3" *ngFor="let file of this.nameFiles">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">{{file.name}}</label>
                                <a href="{{file.url}}" target="_blank" download="plantilla_usuarios.csv"
                                    class="boton2 ps-0">Descargar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Coporativo Wecap 2022</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Formatos para Iconos</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Conferncias-->
<div class="modal fade" id="conferencias" tabindex="-1" aria-labelledby="conferencias" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Conferencias</h5>
                <p class="text7 txt-gris mb-3">Aquí podras ver las conferencias programadas para esta certificación.</p>
                <div class="card color rounded-4 mb-3" *ngFor="let conferencia of this.allConferencias">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text10 txt-blue d-block">{{conferencia.titulo}}</label>
                                <label class="text9 txt-blue d-block">{{conferencia.fecha}}</label>
                                <label class="text9 txt-blue d-block">{{conferencia.descripcion}}</label>
                                <a href="{{conferencia.link}}" target="_blank" class="boton2 ps-0">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ayuda-->
<div class="modal fade" id="ayuda" tabindex="-1" aria-labelledby="ayuda" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Ayuda</h5>
                <p class="text7 txt-gris mb-3">Preguntas Frecuentes</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <img src="assets/img/question.svg" class="me-2" alt="...">
                                <label class="text10 txt-blue">¿Cómo hago mi
                                    examen?</label>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ms-4">
                                <p class="text11 txt-blue lh-1">Para hacer el examen
                                    es
                                    importante que un administrador
                                    te asigne un examen,
                                    una vez asignado tienes que ver todos los videos
                                    del
                                    modulo,
                                    una vez terminado podras contestar el examen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <img src="assets/img/question.svg" class="me-2" alt="...">
                                <label class="text10 txt-blue">¿Cuántos puntos
                                    necesito para
                                    pasar?</label>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ms-4">
                                <p class="text11 txt-blue lh-1">Para aprobar una
                                    certificación, se necesita una
                                    puntuación mayor a 70 en la evaluación de cada
                                    modulo
                                    que contenga dicha
                                    certificación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <img src="assets/img/question.svg" class="me-2" alt="...">
                                <label class="text10 txt-blue">¿Cuánto tiempo tengo
                                    para
                                    responder la prueba?</label>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ms-4">
                                <p class="text11 txt-blue lh-1">El tiempo asignado
                                    para cada
                                    prueba, te será informado
                                    por el sistema al momento de iniciar la
                                    evaluación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte académico</label>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte</label>
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>