<div class="container-lg page-content top">
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Conferencias</button>
                </div>
              </nav>
              <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div *ngIf="this.helpers.cursos == 1">
                    <label class="text3 txt-blue2 mt-3">Video Conferencias</label>
                    <hr class="w-100">
                    <!--Tabla--->
                    <table id="conferencia" class="table data striped dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <th scope="row"><button type="button" class="boton4" (click)="change(2)">Alsain Soluciones Audiovisuales</button></th>
                                <td>En esta certificación encontraras materiales audiovisuales realizados
                                    por ALSAIN a lo largo de sus 16 años de trayectoria en el ramo.</td>
                                <td>2018-11-26</td>
                                <td>Activa</td>
                            </tr>
                            <!--tr>
                                <th scope="row">2</th>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>En esta certificación encontraras materiales audiovisuales realizados
                                    por ALSAIN a lo largo de sus 16 años de trayectoria en el ramo.</td>
                                <td>2018-11-26</td>
                                <td>Activa</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>En esta certificación encontraras materiales audiovisuales realizados
                                    por ALSAIN a lo largo de sus 16 años de trayectoria en el ramo.</td>
                                <td>2018-11-26</td>
                                <td>Activa</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>En esta certificación encontraras materiales audiovisuales realizados
                                    por ALSAIN a lo largo de sus 16 años de trayectoria en el ramo.</td>
                                <td>2018-11-26</td>
                                <td>Activa</td>
                            </tr-->
                        </tbody>
                    </table>
                  </div>
                  <div *ngIf="this.helpers.cursos == 2">
                    <!--Conferencias--->
                    <label class="text3 txt-blue2 mt-3">Conferencias</label>
                    <hr class="w-100">
                    <form>
                        <div class="row mb-4">
                            <div class="col-8 col-md-4 col-lg-3">
                                <button class="botondrop bg-blue w-100 p-1 p-md-2">
                                    Añadir conferencia
                                    <img src="assets/img/agregar.svg" alt="">
                                </button>
                            </div>
                            <div class="col-4 col-md-4 col-lg-2 offset-lg-7 offset-md-4">
                                <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2">Guardar</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Título conferencia">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Descripción">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Fecha">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Link">
                            </div>
                            <div class="col-12">
                                <hr class="hr-gris">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Título conferencia">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Descripción">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Fecha">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Link">
                            </div>
                            <div class="col-12">
                                <hr class="hr-gris">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Título conferencia">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Descripción">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Fecha">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Link">
                            </div>
                            <div class="col-12">
                                <hr class="hr-gris">
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
