<div class="container-lg page-content top">
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Conferencias</button>
                </div>
              </nav>
              <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div *ngIf="viewConf == 0">
                    <label class="text3 txt-blue2 mt-3">Video Conferencias</label>
                    <hr class="w-100">
                    <!--Tabla--->
                    <table id="conferencia" class="table data striped dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let curso of allcursos | paginate: { itemsPerPage: 6, currentPage: p}">
                                <th scope="row">{{curso.idCertification}}</th>
                                <th scope="row"><button type="button" class="boton4" (click)="changeViewConferencias('editConf', curso.title)">{{curso.title}}</button></th>
                                <td>{{curso.description}}</td>
                                <td>{{curso.creation_date}}</td>
                                <td *ngIf="this.curso.is_active == 1">Activa</td>
                                <td *ngIf="this.curso.is_active == 0">Inactivo</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                      <div class="col-12">
                        <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="p = $event" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="viewConf == 1">
                    <!--Conferencias--->
                    <label class="text3 txt-blue2 mt-3">Conferencias</label>
                    <hr class="w-100">
                    <form [formGroup]="formConf" class="conferencias">
                        <div class="row mb-4">
                            <div class="col-8 col-md-4 col-lg-3">
                                <button class="botondrop bg-blue w-100 p-1 p-md-2" (click)="clone()">
                                    Añadir conferencia
                                    <img src="assets/img/agregar.svg" alt="">
                                </button>
                            </div>
                            <div class="col-4 col-md-4 col-lg-2 offset-lg-7 offset-md-4">
                                <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2">Guardar</button>
                            </div>
                        </div>
                        <div class="row mb-3 clone">
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Título conferencia"  formControlName="title">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Descripción"  formControlName="description">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Fecha"  formControlName="fecha">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Link"  formControlName="link">
                            </div>
                            <div class="col-12">
                                <hr class="hr-gris">
                            </div>
                        </div>
                        <!--div class="row mb-3">
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Título conferencia">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Descripción">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Fecha">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Link">
                            </div>
                            <div class="col-12">
                                <hr class="hr-gris">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Título conferencia">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Descripción">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Fecha">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="input3" placeholder="Link">
                            </div>
                            <div class="col-12">
                                <hr class="hr-gris">
                            </div>
                        </div-->
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
