<div class="container-lg page-content top">
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Conferencias</button>
                </div>
              </nav>
              <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div *ngIf="viewConf == 0">
                    <label class="text3 txt-blue2 mt-3">Video Conferencias</label>
                    <hr class="w-100">
                    <!--Tabla--->
                    <table id="conferencia" class="table data striped dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let curso of allcursos | paginate: { itemsPerPage: 6, currentPage: p}">
                                <th scope="row">{{curso.idCertification}}</th>
                                <th scope="row"><button type="button" class="boton4" (click)="changeViewConferencias('verConf', curso.title, curso.idCertification)">{{curso.title}}</button></th>
                                <td>{{curso.description}}</td>
                                <td>{{curso.creation_date}}</td>
                                <td *ngIf="this.curso.is_active == 1">Activa</td>
                                <td *ngIf="this.curso.is_active == 0">Inactivo</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                      <div class="col-12">
                        <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="p = $event" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="viewConf == 1">
                    <!--Conferencias--->
                    <div class="row d-flex align-items-center">
                        <div class="col-6 col-md-7 col-lg-9">
                            <label class="text3 txt-blue2">Conferencias {{this.nombreCertificacion}}</label>
                        </div>
                        <div class="col-6 col-md-5 col-lg-3">
                            <button class="botondrop bg-blue w-100 p-1 p-md-2" (click)="changeViewConferencias('newConf')">
                                Añadir conferencia
                                <img src="assets/img/agregar.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <hr class="w-100">
                    <div class="table-responsive">
                        <table class="table w-100">
                          <thead>
                            <tr>
                              <th scope="col">Titulo</th>
                              <th scope="col">Descripcion</th>
                              <th scope="col">Fecha</th>
                              <th scope="col">Link</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let conferencia of allConferencias | paginate: { itemsPerPage: 6, currentPage: p }">
                              <td>{{conferencia.titulo}}</td>
                              <td>{{conferencia.descripcion}}</td>
                              <td>{{conferencia.fecha}}</td>
                              <td>{{conferencia.link}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="p = $event" previousLabel="Anterior"
                          nextLabel="Siguiente"></pagination-controls>
                        </div>
                      </div>
                    <!--form class="formulario" [formGroup]="fg" (ngSubmit)="onSubmit()">
                      <div class="button">
                        <button type="button" (click)="addLesson()">Agregar fila</button>
                      </div>
                      <mat-table [dataSource]="dataSourcePacks">
                        <ng-container formArrayName="promos">

                          <ng-container matColumnDef="titulo">
                            <mat-header-cell *matHeaderCellDef> <h2>Titulo</h2></mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                              <mat-form-field >
                                <input matInput placeholder="Titulo conferencia" formControlName="titulo" required>
                              </mat-form-field>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef> <h2>Descripcion</h2></mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                              <mat-form-field >
                                <input matInput placeholder="Descripcion" formControlName="descripcion" required>
                              </mat-form-field>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef> <h2>Fecha</h2></mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                              <mat-form-field >
                                <input matInput placeholder="Fecha" formControlName="fecha" required>
                              </mat-form-field>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="link">
                            <mat-header-cell *matHeaderCellDef> <h2>Link</h2></mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                              <mat-form-field >
                                <input matInput placeholder="Link" formControlName="link" required>
                              </mat-form-field>
                            </mat-cell>
                          </ng-container>
                          <!-- Delete Column -->
                          <!--ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let element; index as i" [formGroup]="element">
                              <button type="button" (click)="deleteLesson(i)">
                                <mat-icon matSuffix>delete</mat-icon>
                              </button>
                            </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </ng-container>
                      </mat-table>
                      <button class="btn-save" type="submit">Guardar</button>
                    </form-->
                  </div>
                  <div *ngIf="viewConf == 2">
                    <form [formGroup]="formConf" id="conferencias">
                        <div class="row d-flex align-items-center">
                            <div class="col-8 col-md-5 col-lg-4">
                                <label class="text3 txt-blue2">Añadir Conferencia</label>
                            </div>
                            <div class="col-4 col-md-4 col-lg-2 offset-lg-6 offset-md-3">
                                <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2" (click)="addConferencia()">Guardar</button>
                            </div>
                        </div>
                        <hr class="w-100">
                        <div class="row">
                          <div class="col-12">
                            <input type="text" class="input3 mb-3" placeholder="Título de la conferencia"  formControlName="titulo" >
                            <input type="text" class="input3 mb-3" placeholder="Descripción"  formControlName="descripcion">
                            <input type="text" class="input3 mb-3" placeholder="Link para ingresar"  formControlName="link">
                            <input type="text" class="input3 mb-3" placeholder="Fecha"  formControlName="fecha">
                            <hr class="hr-gris mt-4 mb-4">
                          </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
