<div class="page-content container-lg top">
    <div class="row pt-3">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card color p-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text2 txt-blue">Corporativo - Evaluación</h1>
                            <hr class="w-100">

                            <label class="text6 txt-blue mb-3 mt-3">1. ¿Debe ser conciso un video corporativo?</label>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    No
                                </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    Claro que no
                                </label>
                            </div>
                            <label class="text6 txt-blue mb-3 mt-3">2. ¿Las empresas necesitan un video Corporativo?</label>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    No
                                </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    Claro que no
                                </label>
                            </div>
                            <label class="text6 txt-blue mb-3 mt-3">3. ¿Te gustaría tener un video Corporativo para tu empresa?</label>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    No
                                </label>
                            </div>
                            <div class="form-check ms-4">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="text5 txt-blue" for="flexRadioDefault1">
                                    Claro que no
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="boton3 mx-auto d-block mt-3 mb-5">Evaluación</button>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 mb-5">
            <div class="card color p-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Tiempo restante</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rounded-circle bg-transparent border-blue d-flex justify-content-center align-items-center">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <label class="text5 txt-blue txt-blue d-block">Minutos</label>
                                    </div>
                                    <div class="col-12">
                                        <label class="text12">3</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rounded-circle bg-transparent border-blue d-flex justify-content-center align-items-center">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <label class="text5 txt-blue txt-blue d-block">Segundos</label>
                                    </div>
                                    <div class="col-12">
                                        <label class="text12">0</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card color p-3 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Medallas del módulo</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Terminado</label>
                        </div>
                        <div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Perfecto</label>
                        </div>
                        <div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Tiempo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Conferncias-->
<div class="modal fade" id="evaluacion" tabindex="-1" aria-labelledby="conferencias" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3">Evaluación</h5>
                <p class="text5 txt-gris mb-3">Usted cuenta con 3 minuto(s) para contestar la evaluación.</p>
                <p class="text5 txt-gris mb-3">Nota: al dar clic en el boton 'Iniciar' el tiempo empesara a correr.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="fs-6 boton3 w-25 ">Iniciar</button>
              </div>
        </div>
    </div>
</div>