<div class="container-lg page-content top pb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text txt-blue">Cursos</h1>
            <hr>
        </div>
    </div>
    <!--Parte cursos-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mt-5 mb-5 home" *ngIf="this.helpers.cursos == 1">
        <div class="col" *ngFor="let certificacion of this.certificaciones">
            <div class="card h-100">
                <img *ngIf="certificacion.img == ''" src="assets/img/alsain.svg" class="card-img mx-auto d-block" alt="...">
                <img *ngIf="certificacion.img != ''" src="{{helpers.domain}}/imagenes/{{ certificacion.img }}" class="card-img mx-auto d-block" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title mx-auto d-block d-flex align-items-center">{{certificacion.title}}</h5>
                            <div class="blue d-flex align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-text">{{certificacion.description}}
                                        </p>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button type="button" class="boton mx-auto d-block" (click)="change(2)">Comenzar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col">
            <div class="card h-100">
                <img src="assets/img/metrihealth.svg" class="card-img mx-auto d-block" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title mx-auto d-block">Metrihealth</h5>
                            <div class="blue d-flex align-items-center">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-text">
                                            Plataforma para aplicación de la NOM035 Y NOM036
                                        </p>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button type="button" class="boton mx-auto d-block">Comenzar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!--Parte modulos-->
    <carousel *ngIf="this.helpers.cursos == 2" [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [showIndicators]="showIndicator"
          [interval]="0"
          [noWrap]="noWrap">
        <slide *ngFor="let slide of slides; let index=index" class="p-3">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
                <h5 class="card-title w-100">Promocional</h5>
                <div class="card-title w-50 mx-auto d-block ps-3 pe-3 mt-3">
                    <div class="row">
                        <div class="col"><img src="assets/img/medalla.svg" class="mx-auto d-block" alt="..."></div>
                        <div class="col"><img src="assets/img/medalla.svg" class="mx-auto d-block opacity-50" alt="..."></div>
                        <div class="col"><img src="assets/img/medalla.svg" class="mx-auto d-block opacity-50" alt="..."></div>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</div>
<!-- Modal Archivos-->
<div class="modal fade" id="archivos" tabindex="-1" aria-labelledby="archivos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Archivos</h5>
                <p class="text7 txt-gris mb-3">Aquí sube imagenes o pdf para que tus usuarios puedan descargar.</p>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Personalización de tu sistema</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Coporativo Wecap 2022</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Formatos para Iconos</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Conferncias-->
<div class="modal fade" id="conferencias" tabindex="-1" aria-labelledby="conferencias" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Conferencias</h5>
                <p class="text7 txt-gris mb-3">Aquí podras ver las conferencias programadas.</p>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text10 txt-blue d-block">Seguimiento</label>
                                <label class="text9 txt-blue d-block">31 de Enero</label>
                                <label class="text9 txt-blue d-block">Prueba</label>
                                <button type="button" class="boton2 ps-0">Link</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <div>
                                    <label class="text10 txt-blue d-block">Seguimiento</label>
                                    <label class="text9 txt-blue d-block">31 de Enero</label>
                                    <label class="text9 txt-blue d-block">Prueba</label>
                                    <button type="button" class="boton2 ps-0">Link</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ayuda-->
<div class="modal fade" id="ayuda" tabindex="-1" aria-labelledby="ayuda" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Ayuda</h5>
                <p class="text7 txt-gris mb-3">Preguntas Frecuentes</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-0 mb-3">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <img src="assets/img/question.svg" class="me-2" alt="...">
                            <label class="text10 txt-blue">¿Cómo hago mi examen?</label>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-4">
                            <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                una vez asignado tienes que ver todos los videos del modulo,
                                una vez terminado podras contestar el examen.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <img src="assets/img/question.svg" class="me-2" alt="...">
                            <label class="text10 txt-blue">¿Cuántos puntos necesito para pasar?</label>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-4">
                            <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                una vez asignado tienes que ver todos los videos del modulo,
                                una vez terminado podras contestar el examen.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <img src="assets/img/question.svg" class="me-2" alt="...">
                            <label class="text10 txt-blue">¿Cuánto tiempo tengo para responder la prueba?</label>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-4">
                            <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                una vez asignado tienes que ver todos los videos del modulo,
                                una vez terminado podras contestar el examen.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte académico</label>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte</label>
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
