<div class="page-content container-lg top pb-5">
    <div class="row pt-5 d-flex align-items-center">
        <div class="col-12 col-md-4 col-lg-3">
            <h1 class="text txt-blue">Perfil</h1>
            <hr class="w-100">
        </div>
        <div class="col-12 col-md-3 col-lg-2 ms-lg-5">
            <img src="assets/img/perfil.svg" class="w-100 h-100 rounded-circle border-blue border-1" alt="">
        </div>
        <div class="col-12 col-md-5 col-lg-4 ">
            <label class="text4 txt-blue d-block">{{this.name}}</label>
            <label class="text5 txt-blue mt-0">Diseño Gráfico</label>
        </div>
    </div>
    <div class="row pt-5 pt-md-3 mb-3">
        <div class="col-12 col-md-6 col-lg-4">
            <label class="text5 txt-blue">Certificado: Wecap</label>
        </div>
        <div class="col-6 col-md-4 offset-6 offset-md-8 offset-lg-9 offset-xl-10 col-lg-3 col-xl-2 mt-3 mt-md-0">
            <button type="button" class="boton bg-blue mx-auto d-block w-100">Descargar diploma</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table id="example" class="table certificado nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text4 txt-blue">Módulo</th>
                            <th class="text4 txt-blue">Progreso</th>
                            <th class="text4 txt-blue">Calificación e intentos</th>
                            <th class="text4 txt-blue">Fecha asignado</th>
                            <th class="text4 txt-blue">Fecha terminado</th>
                            <th class="text4 txt-blue">Duración</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text6 txt-blue bg-blue2 text-center">1</td>
                            <td class="">Corporativo</td>
                            <td>
                                <div class="progress bg-blue2 rounded-pill">
                                    <div class="progress-bar bg-blue text11" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </td>
                            <td class="">No aplica</td>
                            <td class="">11/04/2022</td>
                            <td class="">No terminado</td>
                            <td class="">0 días, 0:0:0</td>
                        </tr>
                        <tr>
                            <td  class="text6 txt-blue bg-blue2 text-center">2</td>
                            <td class="">Promocional</td>
                            <td>
                                <div class="progress bg-blue2 rounded-pill">
                                    <div class="progress-bar bg-blue text11" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </td>
                            <td class="">No aplica</td>
                            <td class="">11/04/2022</td>
                            <td class="">No terminado</td>
                            <td class="">0 días, 0:0:0</td>
                        </tr>
                        <tr>
                            <td  class="text6 txt-blue bg-blue2 text-center">3</td>
                            <td class="">Documental</td>
                            <td>
                                <div class="progress bg-blue2 rounded-pill">
                                    <div class="progress-bar bg-blue text11" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </td>
                            <td class="">No aplica</td>
                            <td class="">11/04/2022</td>
                            <td class="">No terminado</td>
                            <td class="">0 días, 0:0:0</td>
                        </tr>
                        <tr>
                            <td class="text6 txt-blue bg-blue2 text-center">4</td>
                            <td class="">Animación</td>
                            <td>
                                <div class="progress bg-blue2 rounded-pill">
                                    <div class="progress-bar bg-blue text11" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                            </td>
                            <td class="">No aplica</td>
                            <td class=""> 11/04/2022</td>
                            <td class="">No terminado</td>
                            <td class="">0 días, 0:0:0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row pt-5 mb-3">
        <div class="col-12">
            <label class="text5 txt-blue">Módulo: Corporativo </label>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table id="example2" class="stripe modulos nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text4 txt-blue">Tema</th>
                            <th class="text4 txt-blue">Visto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="assets/img/valley.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">Valley</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/swissmex.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">Swissmex</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/egd.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">EGD</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/almer.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">Almer</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/garcia.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">García Ascencio</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/grupo.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">Grupo Octano</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/unitrade.svg" class=" rounded-circle" alt="" width="40px" height="40px"></td>
                            <td class="">Unitrade</td>
                            <td><img src="assets/img/close.svg" class="ps-4 close" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal Conferncias-->
<div class="modal fade" id="conferencias" tabindex="-1" aria-labelledby="conferencias" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h5 class="modal-title mb-3" id="exampleModalLabel">Conferencias</h5>
              <p class="text7 txt-gris mb-3">Aquí podras ver las conferencias programadas para esta certificación.</p>
              <div class="card color rounded-4 mb-3" *ngFor="let conferencia of this.allConferencias">
                  <div class="card-body">
                      <div class="d-flex">
                          <div class="me-3 mt-1">
                              <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                          </div>
                          <div>
                              <label class="text10 txt-blue d-block">{{conferencia.titulo}}</label>
                              <label class="text9 txt-blue d-block">{{conferencia.fecha}}</label>
                              <label class="text9 txt-blue d-block">{{conferencia.descripcion}}</label>
                              <a href="{{conferencia.link}}" target="_blank" class="boton2 ps-0">Link</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
