<div class="page-content container-lg top pb-5">
    <div class="row pt-5 d-flex align-items-center">
        <div class="col-12 col-md-4 col-lg-3">
            <h1 class="text txt-blue">Perfil</h1>
            <hr class="w-100">
        </div>
        <!--div class="col-12 col-md-3 col-lg-2 ms-lg-5">
            <img src="assets/img/perfil.svg" class="w-100 h-100 rounded-circle border-blue border-1" alt="">
        </div-->
        <div class="col-12 col-md-5 col-lg-4 " *ngIf="this.allPerfil">
            <label class="text4 txt-blue d-block">{{this.allPerfil.full_name}}</label>
            <label class="text5 txt-blue mt-0 text-mays">{{this.allPerfil.area}}</label>
        </div>
    </div>
    <div class="row pt-5 pt-md-3 mb-3">
        <div class="col-12">
            <label class="text5 txt-blue me-2">Curso:</label>
            <select class="form-select w-auto d-inline" [(ngModel)]="cursoSelected" (change)="changeOption('curso')">
                <option value="0" hidden>Selecciona un curso</option>
                <option *ngFor="let certificacion of this.certificaciones" [value]="certificacion.idCertification">{{certificacion.title}}</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="this.modulos == 1">
        <div class="col-6 col-md-4 offset-6 offset-md-8 offset-lg-9 offset-xl-10 col-lg-3 col-xl-2">
            <a *ngIf="this.urlDiploma != '1' && this.urlDiploma != '2'" href="{{this.urlDiploma}}" target="_blank" class="nostyle boton bg-blue mx-auto d-block w-100"> Descargar diploma</a>
            <!--<button *ngIf="this.urlDiploma != '1' && this.urlDiploma != '2'" type="button" class="boton bg-blue mx-auto d-block w-100" (click)="diploma(this.allPerfil.idUser, this.cursoSelected)">Descargar diploma</button>-->
            <button *ngIf="this.urlDiploma == '2'" type="button" class="boton bg-grey2 mx-auto d-block w-100" disabled>El curso no cuenta con diploma</button>
            <button *ngIf="this.urlDiploma == '1'" type="button" class="boton bg-grey2 mx-auto d-block w-100" disabled>Necesitas terminar el curso para dercargar el diploma</button>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="example" class="table certificado nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text4 txt-blue">Módulo</th>
                            <th class="text4 txt-blue">Progreso</th>
                            <th class="text4 txt-blue">Calificación e intentos</th>
                            <th class="text4 txt-blue">Fecha asignado</th>
                            <th class="text4 txt-blue">Fecha terminado</th>
                            <th class="text4 txt-blue">Duración</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let modulo of this.modulesCertifications" >
                        <tr>
                            <td class="text6 txt-blue bg-blue2 text-center">{{modulo.idModule}}</td>
                            <td class="">{{modulo.title}}</td>
                            <td>
                                <div class="progress bg-blue2 rounded-pill">
                                    <div class="progress-bar bg-blue text11" role="progressbar" [style.width]="modulo.progreso+'%'" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{modulo.progreso}}%</div>
                                </div>
                            </td>
                            <td class="">{{modulo.calificacion}}</td>
                            <td class="">{{modulo.fechaAsignacion}}</td>
                            <td class="" *ngIf="modulo.fechaTermino != ''">{{modulo.fechaTermino}}</td>
                            <td class="" *ngIf="modulo.fechaTermino == ''">Sin terminar</td>
                            <td class="" *ngIf="modulo.duracion != ''">{{modulo.duracion}}</td>
                            <td class="" *ngIf="modulo.duracion == ''">N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 mb-3">
            <label class="text5 txt-blue me-2">Módulo:</label>
            <select class="form-select w-auto d-inline" [(ngModel)]="moduloSelected" (change)="changeOption('modulo')">
                <option value="0" hidden>Selecciona un modulo</option>
                <option *ngFor="let modulo of this.modulesCertifications"  [value]="modulo.idModule">{{modulo.title}}</option>
            </select>
        </div>
    </div>
    <!--Modulos-->
    <div class="row mt-4" *ngIf="this.temas == 1">
        <div class="col-12">
            <div class="table-responsive">
                <table id="example2" class="stripe modulos nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text4 txt-blue">Tema</th>
                            <th class="text4 txt-blue">Visto</th>
                            <th class="text4 txt-blue">Tiempo en el tema</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let tema of this.temasArr; let i=index " >
                        <tr>
                            <td><img src="{{this.helpers.domain+'media/temas/' + tema.icon}}" class=" rounded-circle" alt="icon" width="40px" height="40px"></td>
                            <td class="">{{tema.title}}</td>
                            <td>
                                <!--img  src="assets/img/close.svg" class="ps-4 close" alt="">
                                <img *ngIf="this.visto == false" src="assets/img/close.svg" class="ps-4 close" alt=""-->
                                <i *ngIf="this.tema.finalizado == 1" class="fas fa-check ps-4" style="color: #015287;"></i>
                                <i *ngIf="this.tema.finalizado == 0" class="fas fa-times ps-4" style="color: #015287;"></i>
                            </td>
                            <td class="">{{this.times[i].tiempo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

