<div class="page-content container-lg top pb-5">
    <div class="row pt-5 d-flex align-items-center">
        <div class="col-12 col-md-4 col-lg-3">
            <h1 class="text txt-blue">Perfil</h1>
            <hr class="w-100">
        </div>
        <!--div class="col-12 col-md-3 col-lg-2 ms-lg-5">
            <img src="assets/img/perfil.svg" class="w-100 h-100 rounded-circle border-blue border-1" alt="">
        </div-->
        <div class="col-12 col-md-5 col-lg-4 " *ngIf="this.allPerfil">
            <label class="text4 txt-blue d-block">{{this.allPerfil.full_name}}</label>
            <label class="text5 txt-blue mt-0 text-mays">{{this.allPerfil.area}}</label>
        </div>
    </div>
    <div class="row pt-5 pt-md-3 mb-3">
        <div class="col-12">
            <label class="text5 txt-blue me-2">Curso:</label>
            <select class="form-select w-auto d-inline" [(ngModel)]="cursoSelected" (change)="changeOption('curso')">
                <option value="0" hidden>Selecciona un curso</option>
                <option *ngFor="let certificacion of this.certificaciones" [value]="certificacion.idCertification">{{certificacion.title}}</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="this.modulos == 1">
        <div class="col-12 d-flex justify-content-end">
            <a *ngIf="this.urlDiploma != '1' && this.urlDiploma != '2'" href="{{this.url2Diploma}}" target="_blank" class="nostyle boton bg-blue w-auto"> Descargar diploma</a>
            <!--<button *ngIf="this.urlDiploma != '1' && this.urlDiploma != '2'" type="button" class="boton bg-blue mx-auto d-block w-100" (click)="diploma(this.allPerfil.idUser, this.cursoSelected)">Descargar diploma</button>-->
            <button *ngIf="this.urlDiploma == '2'" type="button" class="boton bg-grey2 w-auto" disabled>El curso no cuenta con diploma</button>
            <button *ngIf="this.urlDiploma == '1'" type="button" class="boton bg-grey2 w-auto" disabled>Necesitas terminar o aprobar el curso para descargar el diploma</button>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table id="example" class="table certificado nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text4 txt-blue">Módulo</th>
                            <th class="text4 txt-blue">Progreso</th>
                            <th class="text4 txt-blue">Calificación e intentos</th>
                            <th class="text4 txt-blue">Fecha asignado</th>
                            <th class="text4 txt-blue">Fecha terminado</th>
                            <th class="text4 txt-blue">Duración</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let modulo of this.modulesCertifications" >
                        <tr>
                            <td class="text6 txt-blue bg-blue2 text-center">{{modulo.idModule}}</td>
                            <td class="">{{modulo.title}}</td>
                            <td>
                                <div class="progress bg-blue2 rounded-pill">
                                    <div class="progress-bar bg-blue text11" role="progressbar" [style.width]="modulo.progreso+'%'" aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{modulo.progreso}}%</div>
                                </div>
                            </td>
                            <td class="" *ngIf="modulo.calificacion != 'N/A' && modulo.intentos != ''">{{formateaValor(modulo.calificacion)}}, {{modulo.intentos}}</td>
                            <td class="" *ngIf="modulo.calificacion == 'N/A' && modulo.intentos == ''">Sin calificación, 0</td>
                            <td class="" *ngIf="modulo.calificacion == 'N/A' && modulo.intentos != ''">Sin calificacion, {{modulo.intentos}}</td>
                            <td class="">{{modulo.fechaAsignacion}}</td>
                            <td class="" *ngIf="modulo.fechaTermino != ''">{{modulo.fechaTermino}}</td>
                            <td class="" *ngIf="modulo.fechaTermino == ''">Sin terminar</td>
                            <td class="" *ngIf="modulo.duracion != '' && modulo.duracion != 'N/A'">{{modulo.duracion}}</td>
                            <td class="" *ngIf="modulo.duracion == '' || modulo.duracion == 'N/A'">No tienes tiempo dentro del curso</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 mb-3">
            <label class="text5 txt-blue me-2">Módulo:</label>
            <select class="form-select w-auto d-inline" [(ngModel)]="moduloSelected" (change)="changeOption('modulo')">
                <option value="0" hidden>Selecciona un modulo</option>
                <option *ngFor="let modulo of this.modulesCertifications"  [value]="modulo.idModule">{{modulo.title}}</option>
            </select>
        </div>
    </div>
    <!--Modulos-->
    <div class="row mt-4" *ngIf="this.temas == 1">
        <div class="col-12">
            <div class="table-responsive">
                <table id="example2" class="stripe modulos nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text4 txt-blue">Tema</th>
                            <th class="text4 txt-blue">Visto</th>
                            <th class="text4 txt-blue">Tiempo en el tema</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let tema of this.temasArr; let i=index " >
                        <tr>
                            <td><img src="{{this.helpers.domain+'media/temas/' + tema.icon}}" class=" rounded-circle" alt="icon" width="40px" height="40px"></td>
                            <td class="">{{tema.title}}</td>
                            <td>
                                <!--img  src="assets/img/close.svg" class="ps-4 close" alt="">
                                <img *ngIf="this.visto == false" src="assets/img/close.svg" class="ps-4 close" alt=""-->
                                <i *ngIf="this.tema.finalizado == 1" class="fas fa-check ps-4" style="color: #015287;"></i>
                                <i *ngIf="this.tema.finalizado == 0" class="fas fa-times ps-4" style="color: #015287;"></i>
                            </td>
                            <td class="" *ngIf="this.times[i]?.tiempo != '' && this.times[i]?.tiempo != 'N/A'">{{this.times[i]?.tiempo}}</td>
                            <td class="" *ngIf="this.times[i]?.tiempo == ''">Sin tiempo en el tema</td>
                            <td class="" *ngIf="this.times[i]?.tiempo == 'N/A'">Sin tiempo en el tema</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4" *ngIf="this.temas == 0">
        <div class="col-12">
            <label class="text5 txt-blue mt-0">Este módulo aun no cuenta con temas.</label>
        </div>
    </div>
</div>
<!-- Modal Conferncias-->
<div class="modal fade" id="conferencias" tabindex="-1" aria-labelledby="conferencias" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="this.allConferencias != 0">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Conferencias</h5>
                <p class="text7 txt-gris mb-3">Aquí podras ver las conferencias programadas para esta certificación.</p>
                <div class="card color rounded-4 mb-3" *ngFor="let conferencia of this.allConferencias">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text10 txt-blue d-block">{{conferencia.titulo}}</label>
                                <label class="text9 txt-blue d-block">{{conferencia.fecha}}</label>
                                <!---<label class="text9 txt-blue d-block">Bases para módulo Promocional.</label>-->
                                <a href="{{conferencia.link}}" target="_blank" class="boton2 ps-0">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <div>
                                    <label class="text10 txt-blue d-block">Seguimiento</label>
                                    <label class="text9 txt-blue d-block">31 de Octubre</label>
                                    <label class="text9 txt-blue d-block">Dudas y sugerencias</label>
                                    <a href="https://meet.google.com/dnh-ugxh-bcg" target="_blank"
                                        class="boton2 ps-0">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="modal-body" *ngIf="this.allConferencias == 0">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Conferencias</h5>
                <p class="text7 txt-gris mb-3">Aun no hay conferencias programadas para esta certificación.</p>

            </div>
        </div>
    </div>
</div>
<!-- Modal Ayuda-->
<div class="modal fade" id="ayuda" tabindex="-1" aria-labelledby="ayuda" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Ayuda</h5>
                <p class="text7 txt-gris mb-3">Preguntas Frecuentes</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <img src="assets/img/question.svg" class="me-2" alt="...">
                                <label class="text10 txt-blue">¿Cómo hago mi examen?</label>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ms-4">
                                <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador
                                    te asigne un examen,
                                    una vez asignado tienes que ver todos los videos del modulo,
                                    una vez terminado podras contestar el examen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <img src="assets/img/question.svg" class="me-2" alt="...">
                                <label class="text10 txt-blue">¿Cuántos puntos necesito para pasar?</label>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ms-4">
                                <p class="text11 txt-blue lh-1">Consulta a los administradores de la plataforma para
                                    conocer la calificación mínima aprobatoria, ya que puede variar de acuerdo a la
                                    certificación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <img src="assets/img/question.svg" class="me-2" alt="...">
                                <label class="text10 txt-blue">¿Cuánto tiempo tengo para responder la prueba?</label>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body ms-4">
                                <p class="text11 txt-blue lh-1">El tiempo asignado para cada prueba, te será informado
                                    por el sistema al momento de iniciar la evaluación.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar a soporte</label>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                            <p class="text7 txt-blue lh-1">
                                Selecciona el tipo de soporte que necesitas:
                            </p>
                              <p class="text7 txt-blue lh-1">
                                <a type="button" data-bs-dismiss="modal" (click)="support('academico')">Soporte académico</a>

                                
                              </p>
                              <p class="text7 txt-blue lh-1">
                                
                                <a type="button" data-bs-dismiss="modal" (click)="this.support('tecnico')">Soporte técnico (CreativeSoft)</a>
                               
                              </p>
                          </div>
                        </div>
                    </div>
                    <!--<div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte</label>
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

