<div class="container-lg page-content top">
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true"
                        (click)="onClickTab()">Usuarios</button>
                </div>
            </nav>
            <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row d-flex align-items-center" *ngIf="usersView == 0">
                        <div class="col-6 col-md-4 col-lg-3">
                            <label class="text3 txt-blue2">Usuarios</label>
                        
                        </div>
                        <div class="col-8 col-md-4 col-lg-3 offset-lg-3">
                            <button class="boton bg-blue w-100 p-1 p-md-2" (click)="changeViewUsers('add', '')">
                                <img src="assets/img/agregar.svg" alt="agregar">
                                Agregar Usuario
                            </button>
                        </div>
                        <div class="col-8 col-md-4 col-lg-3">
                            <button class="boton bg-blue w-100 p-1 p-md-2">
                                <img src="assets/img/agregar.svg" alt="importar" (click)="changeViewUsers('import', '')">
                                Importar usuarios
                            </button>
                        </div>
                    </div>
                    <div *ngIf="usersView == 0">
                        <!--<label class="text3 txt-blue2 mt-3">Usuarios</label>-->
                        <hr class="w-100">
                        <label class="text6 txt-gris mt-3 ms-2" *ngIf="this.usuarios != 0">Selecciona un usuario para conocer o editar sus detalles</label>
                        <label class="text6 txt-gris mt-3 ms-2" *ngIf="this.usuarios == 0">Aun no cuentas con usuarios en el sistema.</label>
                        <!--tabla-->
                        <div class="table-responsive" *ngIf="this.usuarios != 0">
                            <table id="usuarios" class="table data striped display responsive nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>E-mail</th>
                                        <th>Puesto</th>
                                        <th>Área</th>
                                        <th>Tipo de usuario</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let users of this.usuarios | paginate: { id: 'users', itemsPerPage: 8, currentPage: pu }">
                                        <th scope="row">{{users.idUser}}</th>
                                        <th scope="row"><button type="button" class="boton4"
                                                (click)="changeViewUsers('edit', users.idUser)">{{users.full_name}}</button>
                                        </th>
                                        <td>{{users.email}}</td>
                                        <td>{{users.job}}</td>
                                        <td>{{users.area}}</td>
                                        <td *ngIf="this.users.is_admin == ''">N/A</td>
                                        <td *ngIf="this.users.is_admin == 1">Administrador</td>
                                        <td *ngIf="this.users.is_admin == 0">Empleado</td>
                                        <td *ngIf="this.users.is_admin == 2">Diseñador</td>
                                        <td *ngIf="this.users.is_admin == 3">Instructor</td>
                                        <td *ngIf="this.users.is_active == 1">Activo</td>
                                        <td *ngIf="this.users.is_active == 0">Inactivo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" *ngIf="this.usersCount > 8">
                            <div class="col-12">
                                <pagination-controls id="users" class="w-100 d-flex justify-content-center"
                                    (pageChange)="pu = $event" previousLabel="Anterior"
                                    nextLabel="Siguiente"></pagination-controls>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="usersView == 1">
                        <div class="row mt-3 mb-3">
                            <div class="col-lg-6 ">
                                <label class="text3 txt-blue2" *ngIf="this.id != 0">Editar Usuario</label>
                                <label class="text3 txt-blue2" *ngIf="this.id == 0">Añadir Usuario</label>
                            </div>
                            <div class="col-6 offset-6 col-lg-2 offset-lg-4">
                                <button class="boton rounded-pill bg-blue aspect1-1 float-end"
                                    (click)="changeViewUsers('users')">
                                    <i class="fas fa-reply"></i>
                                </button>
                            </div>
                        </div>
                        <hr class="w-100">
                        <form [formGroup]="formUser">
                            <div class="row mt-4 mb-3">
                                <div class="col-6 col-md-3 col-xl-2 offset-xl-8 offset-md-6">
                                    <button class="boton bg-grey2 mx-auto d-block w-100 p-1 p-md-2" *ngIf="this.id != 0"
                                        (click)="deleteUser()">Eliminar</button>
                                </div>
                                <div class="col-6 col-md-3 col-xl-2" *ngIf="this.id != 0">
                                    <button class="boton bg-grey2 mx-auto d-block w-100 p-1 p-md-2"
                                        *ngIf="this.active == 1" (click)="status(0)">Desactivar usuario</button>
                                    <button class="boton bg-grey2 mx-auto d-block w-100 p-1 p-md-2"
                                        *ngIf="this.active == 0" (click)="status(1)">Activar usuario</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Nombre Completo</label>
                                <input type="text" class="input3" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    formControlName="name">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Email</label>
                                <input type="email" class="input3" id="exampleInputEmail2" aria-describedby="emailHelp"
                                    formControlName="email">
                            </div>
                            <label for="formFile" class="text13 txt-blue mb-2">Genero (opcional):</label>
                            <div class="dropdown mb-3">
                                <!---<button class="botondrop dropdown-toggle" type="button" id="dropdownMenuButton2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Hombre
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>-->
                                <select class="botondrop dropdown-toggle" [(ngModel)]="genderSelected"
                                    (change)="changeOption('gender')" [ngModelOptions]="{standalone: true}">
                                    <option value="0" hidden>Seleccionar</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-2">Fecha de nacimiento</label>
                                <input class="input4" type="date" value="2017-06-01"
                                    formControlName="fecha_nacimiento" />
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Puesto</label>
                                <input type="text" class="input3" id="exampleInputEmail3" formControlName="puesto">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Área</label>
                                <input type="text" class="input3" id="exampleInputEmail4" formControlName="area">
                            </div>
                            <!--<div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">No. Nómina (opcional)</label>
                                <input type="text" class="input3" id="exampleInputEmail5" aria-describedby="emailHelp">
                            </div>-->
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Contraseña</label>
                                <input type="password" class="input3" id="exampleInputEmail6" formControlName="password"
                                    autocomplete="new-password">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">País (opcional)</label>
                                <input type="text" class="input3" id="exampleInputEmail7" aria-describedby="emailHelp"
                                    formControlName="pais">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Estado (opcional)</label>
                                <input type="text" class="input3" id="exampleInputEmail8" aria-describedby="emailHelp"
                                    formControlName="estado">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Ciudad (opcional)</label>
                                <input type="text" class="input3" id="exampleInputEmail9" aria-describedby="emailHelp"
                                    formControlName="ciudad">
                            </div>
                            <label for="formFile" class="text13 txt-blue mb-2">Tipo de usuario:</label>
                            <div class="dropdown mb-3">
                                <!--<button class="botondrop dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Administrador
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>-->
                                <select class="botondrop dropdown-toggle" [(ngModel)]="typeSelected"
                                    (change)="changeOption('type')" [ngModelOptions]="{standalone: true}">
                                    <option value="5" hidden>Seleccionar</option>
                                    <option value="0">Usuario</option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Diseñador</option>
                                    <option value="3">Instructor</option>
                                </select>
                            </div>
                            <!--<div class="form-check mb-3">
                                <label class="text10 txt-gris2" for="inlineRadio1">Activo</label>
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                            </div>-->
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-3">Grupo (opcional)</label>
                                <input type="text" class="input3" id="exampleInputEmail10" aria-describedby="emailHelp"
                                    formControlName="grupo">
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-4 offset-3 offset-md-4 col-lg-2 offset-lg-5 mt-3">
                                    <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2" *ngIf="this.id != 0"
                                        (click)="editUser()">Guardar</button>
                                    <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2" *ngIf="this.id == 0"
                                        (click)="validarEmail()">Guardar</button>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="usersView == 2">
                        <div class="row mt-3 mb-3">
                            <div class="col-lg-6 ">
                                <label class="text3 txt-blue2">Importar</label>
                            </div>
                            <div class="col-6 offset-6 col-lg-2 offset-lg-4">
                                <button class="boton rounded-pill bg-blue aspect1-1 float-end"
                                    (click)="changeViewUsers('users')">
                                    <i class="fas fa-reply"></i>
                                </button>
                            </div>
                        </div>
                        <hr class="w-100">
                        <div class="row">
                            <label for="exampleInputEmail1" class="text6 txt-gris2 mb-2">Puedes importar varios
                                contactos a traves de un archivo de excel en formato csv.</label>
                            <!--<div class="col-6">
                                <label class="text14 txt-blue mb-3">Puedes importar varios contactos a traves de un
                                    archivo de excel en formato csv.</label>
                            </div>
                            <div class="col-6">
                                <button type="button" class="boton bg-blue w-auto p-2 ps-3 pe-3 float-end">
                                    Editar descripción
                                </button>
                            </div>

                            <div class="col-6">
                                <button type="button" class="boton bg-blue w-auto p-2 ps-3 pe-3 float-end">
                                    Cancelar
                                </button>
                            </div>-->
                        </div>
                        <!--<label> Este texto aparecera en la ventana donde los usuarios descargaran los archivos.</label>--->
                        <div class="mb-3">
                            <label class="text6 txt-gris mt-3 ms-2">1°- Descarga el archivo de ejemplo para importar:</label>
                            <!--<p type="text" class="text19 text-dark mb-3">descripcipn</p>-->
                            <br/>
                            <br/>
                            <div class="col-6 col-md-3 col-lg-2">
                                <a href="https://ci.capitalempleo.com/files/plantilla_usuarios.csv" target="_blank" style="text-decoration:none" class="botondrop bg-grey2 ps-2 pe-2" >Descargar archivo</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="text6 txt-gris mt-3 ms-2">2°- Edita el archivo de ejemplo con los datos de tus usuarios, no todos los datos son obligatorios, solo nombre, correo, area, puesto y contraseña.</label>
                            <!--<p type="text" class="text19 text-dark mb-3">descripcipn</p>-->
                            <label class="text6 txt-gris mt-3 ms-2">3°- Sube el archivo.</label>
                            
                           
                            <div class="col-10 col-lg-3 d-flex align-items-end mt-3 order-4 order-md-3">
                                <input class="input3" type="file" id="formFile"
                                accept=".csv" >
                            </div>
                        </div>
                        <div class="mb-3">
                            
                            <div class="col-6 col-md-3 col-lg-2">
                                <button class="boton bg-blue w-auto p-2 ps-3 pe-3 ">Importar Contactos</button>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>