<div class="container-lg page-content top">
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Estadisticas</button>
                </div>
              </nav>
              <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <label class="text3 txt-blue2 mt-3">Globales</label>
                    <!--label class="text6 txt-gris mt-3 ms-2">Usuarios/Análisis</label-->
                    <hr class="w-100">
                    <!--Tabla--->
                    <!--table id="globales" class="table data striped dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Genero</th>
                                <th>Edad</th>
                                <th>Área</th>
                                <th>Puesto</th>
                                <th>País</th>
                                <th>Estado</th>
                                <th>Ciudad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of usersArr | paginate: { itemsPerPage: 6, currentPage: pusers}">
                                <th scope="row">{{user.idUser}}</th>
                                <th scope="row">{{user.full_name}}</th>
                                <td *ngIf="user.genero == 1">Masculino</td>
                                <td *ngIf="user.genero == 2">Femenino</td>
                                <td *ngIf="user.genero == null">Sin información</td>
                                <td>12/31/1969</td>
                                <td *ngIf="user.area != ''">{{user.area}}</td>
                                <td *ngIf="user.area == ''">N/A</td>
                                <td *ngIf="user.job != ''">{{user.job}}</td>
                                <td *ngIf="user.job == ''">N/A</td>
                                <td *ngIf="user.pais != null">{{user.pais}}</td>
                                <td *ngIf="user.pais == null">N/A</td>
                                <td *ngIf="user.estado != null">{{user.estado}}</td>
                                <td *ngIf="user.estado == null">N/A</td>
                                <td *ngIf="user.ciudad != null">{{user.ciudad}}</td>
                                <td *ngIf="user.ciudad == null">N/A</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mt-2">
                        <div class="col-12">
                          <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="pusers = $event" previousLabel="Anterior"
                          nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div-->
                    <!--Grafica--->
                    <div class="row mt-5">
                        <div class="col-12 col-lg-3">
                            <div class="cuadro bg-blue text12">
                                <i class="fas fa-graduation-cap fa-xs"></i>
                                {{this.cursos}}
                                <span class="text13 d-block">Numero de cursos creados</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="cuadro bg-blue3 text12">
                                <i class="fas fa-award fa-xs"></i>
                                {{this.calificacion}}
                                <span class="text13 d-block">Promedio de calificación</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="cuadro bg-blue4 text12">
                                <i class="far fa-clock fa-xs"></i>
                                {{this.tiempo}}
                                <span class="text13 d-block">Promedio de tiempo en la plataforma</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="cuadro bg-grey text12">
                                <i class="fas fa-tasks fa-xs"></i>
                                {{this.intentos}}
                                <span class="text13 d-block">Promedio de intentos en exámenes</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 col-lg-6">
                          <div style="text-align:center">
                            <apx-chart
                              [series]="chartUsuarios.series"
                              [chart]="chartUsuarios.chart"
                              [title]="chartUsuarios.title"
                              [labels]="chartUsuarios.labels"
                              [colors]="chartUsuarios.colors"
                              [legend]="chartUsuarios.legend"
                              [dataLabels]="chartUsuarios.dataLabels"
                              [plotOptions]="chartUsuarios.plotOptions"
                            ></apx-chart>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div style="text-align:center">
                                <apx-chart
                                  [series]="chartAvances.series"
                                  [chart]="chartAvances.chart"
                                  [title]="chartAvances.title"
                                  [labels]="chartAvances.labels"
                                  [colors]="chartAvances.colors"
                                  [legend]="chartAvances.legend"
                                  [dataLabels]="chartAvances.dataLabels"
                                  [plotOptions]="chartAvances.plotOptions"
                                ></apx-chart>
                              </div>
                        </div>
                    </div>
                    <label class="text3 txt-blue2 mt-3">Cursos</label>
                    <hr class="w-100">
                    <table id="estdcurso" class="table data est striped dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Curso Nombre</th>
                                <th>Promedio examen</th>
                                <th>Promedio Intentos</th>
                                <th>Promedio tiempo en examenes</th>
                                <th>Promedio tiempo en temas</th>
                                <th>Promedio tiempo en módulos</th>
                                <th>Promedio diagnóstico inicial</th>
                                <th>Promedio diagnóstico final</th>
                                <th>Porcentaje incremento de aprendizaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let curso of certificaciones | paginate: { itemsPerPage: 6, currentPage: pcursos}">
                                <td><input class="form-check-input ms-3" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"></td>
                                <th scope="row">{{curso.idCertification}}</th>
                                <th scope="row">{{curso.title}}</th>
                                <td>{{curso.promedio}}</td>
                                <td>{{curso.intentos}}</td>
                                <td>{{curso.examenTiempo}}</td>
                                <td>{{curso.temasTiempo}}</td>
                                <td>{{curso.moduloTiempo}}</td>
                                <!--td *ngIf="curso.promediosDiagnostico.promedioInit != 'N/A'">{{curso.promediosDiagnostico.promedioInit}}%</td>
                                <td *ngIf="curso.promediosDiagnostico.promedioInit == 'N/A'">{{curso.promediosDiagnostico.promedioInit}}</td>
                                <td *ngIf="curso.promediosDiagnostico.promedioFinal != 'N/A'">{{curso.promediosDiagnostico.promedioFinal}}%</td>
                                <td *ngIf="curso.promediosDiagnostico.promedioFinal == 'N/A'">{{curso.promediosDiagnostico.promedioFinal}}</td>
                                <td>%</td-->
                            </tr>
                        </tbody>
                    </table>
                    <div class="row mt-2">
                        <div class="col-12">
                          <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="pcursos = $event" previousLabel="Anterior"
                          nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>
                    <!--div class="row mt-5 mb-5">
                        <div class="col-12">
                            <div class="chart-container">
                                <canvas id="grafprogreso"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col-12 col-lg-6 mb-5">
                            <div class="chart-container">
                                <canvas id="grafintentos"></canvas>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="chart-container">
                                <canvas id="grafporcentaje"></canvas>
                            </div>
                        </div>
                    </div-->
                    <!--div class="row">
                        <div class="col-6 col-md-4 offset-3 offset-md-4 col-lg-2 offset-lg-5 mt-3">
                            <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2">Descargar excel</button>
                        </div>
                    </div-->
                    <!--label class="text3 txt-blue2 mt-3">Modulos</label>
                    <hr class="w-100">
                    <!--div class="row mt-5">
                      <div class="col-12 col-lg-4">
                        <div style="text-align:center">
                          <apx-chart
                            [series]="chartUsuarios.series"
                            [chart]="chartUsuarios.chart"
                            [title]="chartUsuarios.title"
                            [labels]="chartUsuarios.labels"
                            [colors]="chartUsuarios.colors"
                            [legend]="chartUsuarios.legend"
                            [dataLabels]="chartUsuarios.dataLabels"
                            [plotOptions]="chartUsuarios.plotOptions"
                          ></apx-chart>
                        </div>
                      </div>
                      <div class="col-12 col-lg-4">
                          <div style="text-align:center">
                              <apx-chart
                                [series]="chartAvances.series"
                                [chart]="chartAvances.chart"
                                [title]="chartAvances.title"
                                [labels]="chartAvances.labels"
                                [colors]="chartAvances.colors"
                                [legend]="chartAvances.legend"
                                [dataLabels]="chartAvances.dataLabels"
                                [plotOptions]="chartAvances.plotOptions"
                              ></apx-chart>
                            </div>
                      </div>
                      <div class="col-12 col-lg-4">
                        <div style="text-align:center">
                            <apx-chart
                              [series]="chartAvances.series"
                              [chart]="chartAvances.chart"
                              [title]="chartAvances.title"
                              [labels]="chartAvances.labels"
                              [colors]="chartAvances.colors"
                              [legend]="chartAvances.legend"
                              [dataLabels]="chartAvances.dataLabels"
                              [plotOptions]="chartAvances.plotOptions"
                            ></apx-chart>
                          </div>
                    </div>
                  </div-->
                    <!--table id="diagnostico" class="table data striped dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Curso Nombre</th>
                                <th>Promedio diagnóstico inicial</th>
                                <th>Promedio diagnóstico final</th>
                                <th>Incremento de aprendizaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>0%</td>
                                <td>0%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>0%</td>
                                <td>0%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>0%</td>
                                <td>0%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <th scope="row">Alsain Soluciones Audiovisuales</th>
                                <td>0%</td>
                                <td>0%</td>
                                <td>0%</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>
</div>
