<footer>
    <div class="container-lg pt-3 pb-3">
        <div class="d-flex justify-content-end">
            <div class="">
                <img src="../img/new/face.svg" alt="" width="20" height="20">
            </div>
            <div class="ms-3">
                <img src="../img/new/insta.svg" alt="" width="20" height="20">
            </div>
            <div class="ms-3">
                <img src="../img/new/twitter.svg" alt="" width="20" height="20">
            </div>
            <div class="ms-3">
                <img src="../img/new/youtube.svg" alt="" width="20" height="20">
            </div>
        </div>
    </div>
</footer>

<!---</body>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

<script>
$(document).ready(function () {
    $('#example').DataTable({
        lengthChange: false,
        searching: false, 
        paging: false, 
        info: false,
        ordering: false,
        responsive: true
    });
    $('#example2').DataTable({
        lengthChange: false,
        searching: false, 
        paging: false, 
        info: false,
        ordering: false,
        responsive: true
    });
});
$(function (){
  $(window).scroll(function(){
     if ($(this).scrollTop() > 80) {
        $('.navbar').addClass("bg-white");
        $(".navbar").removeClass("bg-transparent");
     } else {
        $(".navbar").removeClass("bg-white");
        $(".navbar").addClass("bg-transparent");
     }
  });
});
$(".botonbuscar").click(function(){
    $(".buscar").toggleClass("newclass");
});
</script>
<!--</html>-->
