<footer>
    <div class="container-lg pt-3 pb-3">
        <div class="d-flex justify-content-end">
            <div class="">
                <img src="assets/img/face.svg" alt="" width="20" height="20">
            </div>
            <div class="ms-3">
                <img src="assets/img/insta.svg" alt="" width="20" height="20">
            </div>
            <div class="ms-3">
                <img src="assets/img/twitter.svg" alt="" width="20" height="20">
            </div>
            <div class="ms-3">
                <img src="assets/img/youtube.svg" alt="" width="20" height="20">
            </div>
        </div>
    </div>
</footer>


