<div class="page-content container-lg pt-5">
  <div class="row pt-3">
    <div class="col-12 col-md-6 col-lg-8">
      <div class="card color p-3 p-md-5 mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h1 class="text2 txt-blue" *ngIf="this.finalizado == 0">{{this.nameModule}}</h1>
              <h1 class="text2 txt-blue" *ngIf="this.finalizado == 1">{{this.nameModule}}: Finalizado</h1>
              <hr class="w-100">
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-2 row-cols-xl-3 g-5 mt-1 modulo" *ngIf="this.helpers.view == 1">
            <div class="col" *ngFor="let tema of this.temasArr; let i = index">
              <div class="card corpo" *ngIf="tema.finalizado == '1'">
                <img src="{{this.helpers.domain+'media/temas/' + tema.icon}}" class="img-fluid opacity" alt="">
                <!--<img src="assets/img/f2.jpg" class="img-fluid" alt="">-->
                <div class="transbox2 d-flex justify-content-center align-items-center">
                  <a style="cursor: pointer" class="text8 text-white text-center text-decoration-none" (click)="goToTheme(tema.idTopic, tema.title)">{{tema.title}}</a>
                </div>
              </div>
              <div class="card corpo" *ngIf="tema.finalizado == '0'">
                <img src="{{this.helpers.domain+'media/temas/' + tema.icon}}" class="img-fluid" alt="">
                <!--<img src="assets/img/f2.jpg" class="img-fluid" alt="">-->
                <div class="transbox2 d-flex justify-content-center align-items-center">
                  <a style="cursor: pointer" class="text8 text-white text-center text-decoration-none" (click)="goToTheme(tema.idTopic, tema.title)">{{tema.title}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-2 row-cols-xl-3 g-5 mt-1 modulo" *ngIf="this.helpers.view == 0">
            <div class="col" *ngFor="let tema of this.temasArr; let i = index">
              <div class="card corpo" *ngIf="tema.finalizado == '1'">
                <img src="{{this.helpers.domain+'media/temas/' + tema.icon}}" class="img-fluid opacity" alt="">
                <!--<img src="assets/img/f2.jpg" class="img-fluid" alt="">-->
                <div class="transbox2 d-flex justify-content-center align-items-center">
                  <a style="cursor: pointer" class="text8 text-white text-center text-decoration-none" (click)="themeUniversal(tema.idTopic, tema.title)">{{tema.title}}</a>
                </div>
              </div>
              <div class="card corpo" *ngIf="tema.finalizado != '0'">
                <img src="{{this.helpers.domain+'media/temas/' + tema.icon}}" class="img-fluid" alt="">
                <!--<img src="assets/img/f2.jpg" class="img-fluid" alt="">-->
                <div class="transbox2 d-flex justify-content-center align-items-center">
                  <a style="cursor: pointer" class="text8 text-white text-center text-decoration-none" (click)="themeUniversal(tema.idTopic, tema.title)">{{tema.title}}</a>
                </div>
              </div>
            </div>
          </div>
                        <!--<div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo2.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Swissmex</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo3.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">EGD</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo4.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Almer</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo5.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">García Ascencio</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo6.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Grupo Octano</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo7.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Unitrade</label>
                                </div>
                            </div>
                        </div>-->
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card color p-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <label class="text3 txt-blue">Medallas del módulo</label>
              <hr class="w-100">
            </div>
          </div>
          <div class="row text-center" *ngIf="this.showMedallas == false">
            <label class="text9 txt-blue">Aquí se mostraran tus medallas una vez que termines el módulo.</label>
          </div>
          <div class="row text-center" *ngIf="this.showMedallas == true">
            <!--<div class="col-4">
              <img src="assets/img/medallaavance.svg" class="mx-auto d-block w-75" alt="">
              <label class="text8 txt-blue">Terminado</label>
            </div>-->
            <div class="col-4">
              <img src="assets/img/medallaavance.svg" class=" mx-auto d-block w-75" alt="">
              <label class="text8 txt-blue">Perfecto</label>
            </div>
            <!--<div class="col-4">
              <img src="assets/img/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
              <label class="text8 txt-blue">Tiempo</label>
            </div>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="button" class="boton3 mx-auto d-block mt-5 mb-3" data-bs-toggle="modal"
            data-bs-target="#crear" *ngIf="this.test == false && this.showModal == false">Evaluación</button>
          <button ype="button" class="boton3 mx-auto d-block mt-5 mb-3" (click)="evaluacion()" *ngIf="this.test == false && this.showModal == true">Evaluación</button>
          <button type="button" class="boton3 mx-auto d-block mt-5 mb-3" (click)="evaluacion()" *ngIf="this.test == true">Evaluación</button>
        </div>
        <div class="col-12">
          <button type="button" class="boton3 mx-auto d-block mt-5 p-0 ps-4 pe-4"
            (click)="this.modulosSeccion(this.helpers.idModuleBackUp, this.helpers.nameModuleBackUp)"
            >Regresar a Módulos</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--MODAL EVALUACIÓN-->
<div class="modal fade" id="crear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3">Evaluación</h5>
                <p class="text5 txt-gris mb-3">Usted cuenta con 1 minuto para contestar la evaluación.</p>
                <p class="text5 txt-gris mb-3">Nota: Al dar clic en el boton 'Iniciar' el tiempo comenzara a correr.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="fs-6 boton3 w-25 " (click)="evaluacion()" data-bs-dismiss="modal">Iniciar</button>
              </div>
        </div>
    </div>
</div>
<!-- Modal Archivos-->
<div class="modal fade" id="archivos" tabindex="-1" aria-labelledby="archivos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Archivos</h5>
                <p class="text7 txt-gris mb-3">Estos recursos son brindados con el fin de que puedas guiar tu aprendizaje de la mano de los mismos.</p>
                <div class="card color rounded-4 mb-3" *ngFor="let file of this.nameFiles">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">{{file.name}}</label>
                                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwiH09Wy7YGCAxWyhu4BHeurAggQFnoECAoQAQ&url=https%3A%2F%2Fdialnet.unirioja.es%2Fdescarga%2Farticulo%2F8746976.pdf&usg=AOvVaw3nZVGjYzc5OmgMh7psRl83&opi=89978449" target="_blank" download="plantilla_usuarios.csv" class="boton2 ps-0">Descargar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Coporativo Wecap 2022</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card color rounded-4 mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text9 txt-blue d-block">Formatos para Iconos</label>
                                <button type="button" class="boton2 ps-0">Descargar</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Conferncias-->
<div class="modal fade" id="conferencias" tabindex="-1" aria-labelledby="conferencias" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Conferencias</h5>
                <p class="text7 txt-gris mb-3">Aquí podras ver las conferencias programadas para esta certificación.</p>
                <div class="card color rounded-4 mb-3" *ngFor="let conferencia of this.allConferencias">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3 mt-1">
                                <img src="assets/img/visto.svg" class="mx-auto d-block" alt="...">
                            </div>
                            <div>
                                <label class="text10 txt-blue d-block">{{conferencia.titulo}}</label>
                                <label class="text9 txt-blue d-block">{{conferencia.fecha}}</label>
                                <label class="text9 txt-blue d-block">{{conferencia.descripcion}}</label>
                                <a href="{{conferencia.link}}" target="_blank" class="boton2 ps-0">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ayuda-->
<div class="modal fade" id="ayuda" tabindex="-1" aria-labelledby="ayuda" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title mb-3" id="exampleModalLabel">Ayuda</h5>
                <p class="text7 txt-gris mb-3">Preguntas Frecuentes</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border-0 mb-3">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <img src="assets/img/question.svg" class="me-2" alt="...">
                            <label class="text10 txt-blue">¿Cómo hago mi examen?</label>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-4">
                            <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                una vez asignado tienes que ver todos los videos del modulo,
                                una vez terminado podras contestar el examen.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <img src="assets/img/question.svg" class="me-2" alt="...">
                            <label class="text10 txt-blue">¿Cuántos puntos necesito para pasar?</label>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-4">
                            <p class="text11 txt-blue lh-1">Para aprobar una certificación, se necesita una puntuación mayor a 70 en la evaluación de cada modulo que contenga dicha certificación.
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <img src="assets/img/question.svg" class="me-2" alt="...">
                            <label class="text10 txt-blue">¿Cuánto tiempo tengo para responder la prueba?</label>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-4">
                            <p class="text11 txt-blue lh-1">El tiempo asignado para cada prueba, te será informado por el sistema al momento de iniciar la evaluación.
                            </p>
                        </div>
                      </div>
                    </div>
                    <!--<div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte académico</label>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <img src="assets/img/question.svg" class="me-2" alt="...">
                              <label class="text10 txt-blue">Contactar soporte</label>
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                          <div class="accordion-body ms-4">
                              <p class="text11 txt-blue lh-1">Para hacer el examen es importante que un administrador te asigne un examen,
                                  una vez asignado tienes que ver todos los videos del modulo,
                                  una vez terminado podras contestar el examen.
                              </p>
                          </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
