<div class="page-content container-lg pt-5">
    <div class="row pt-3">
        <div class="col-12 col-md-6 col-lg-8">
            <div class="card color p-3 p-md-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text2 txt-blue">Corporativo</h1>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row row-cols-2 row-cols-md-2 row-cols-xl-3 g-5 mt-1 modulo">
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo1.svg" class="img-fluid" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Valley</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo2.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Swissmex</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo3.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">EGD</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo4.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Almer</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo5.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">García Ascencio</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo6.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Grupo Octano</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card corpo">
                                <img src="assets/img/corpo7.svg" class="card-img" alt="">
                                <div class="transbox2 d-flex justify-content-center align-items-center">
                                    <label class="text4 text-white text-center">Unitrade</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card color p-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Avance de medalla</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <img src="assets/img/medallaavance.svg" class="mx-auto d-block w-25" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card color p-3 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="text3 txt-blue">Medallas del módulo</label>
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Terminado</label>
                        </div>
                        <div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Perfecto</label>
                        </div>
                        <div class="col-4">
                            <img src="assets/img/medallaavance.svg" class="opacity-50 mx-auto d-block w-75" alt="">
                            <label class="text8 txt-blue">Tiempo</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="boton3 mx-auto d-block mt-5 mb-5">Evaluación</button>
                </div>
            </div>
        </div>
    </div>
</div>
