@font-face{
    font-family: 'Helvetica-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/font/Helvetica-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Helvetica-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/font/Helvetica-Bold.ttf') format('truetype');
}
@media (max-width: 1199.98px) {
    .text{font-size: 3rem !important;}
    .rounded-circle.border-blue{max-width: 110px !important;max-height: 110px !important;}
    .input4{width: 30% !important;}
}
@media (max-width: 991.98px) {
    .rounded-circle.border-blue{max-width: 150px !important;max-height: 150px !important;}
    .text{font-size: 2.5rem !important;}
    hr{width: 70% !important;}
    .top{padding-top: 10% !important;}
    .text1{padding-top: 10% !important;}
    .text2{font-size: 2.3rem !important;}
    .text4{font-size: 1rem !important;}
    .buscar .input{display: none;}
    .navbar-collapse .navbar-nav{width: 50% !important;margin-left: 0 !important;background-color: rgb(1, 82, 135, .85) !important;border-radius: 5px;padding: 3% !important;}
    .nav-link label{border-bottom: 1px solid #D2ECFD !important;}
    .nav-tabs .nav-link{font-size: 1.3em !important;}
}
@media (max-width: 767.98px) {
    hr{width: 90% !important;}
    .top{padding-top: 20% !important;}
    .text1{font-size: 2rem !important; padding-top: 20% !important;}
    .navbar-brand img{width: 50px !important;}
    .nav-tabs .nav-link{width: 32% !important;font-size: .9rem !important;}
    .input4{width: 50% !important;}
    .text2{font-size: 1.8rem !important;}
    .text3{font-size: 1.4rem !important;}
    .text5{font-size: 1rem !important;}
    .text6{font-size: .9rem !important;}
    .text14{font-size: .9rem !important;}
    .text14{font-size: 1.1rem !important;}
    .table thead{font-size: 1rem !important;}
    .table th[scope="row"]{font-size: .8rem !important;}
    .table td{font-size: .8rem !important;}
    .boton3{font-size: 1.3rem !important;}
    .chart-container{height: 200px !important;}
    .text11{font-size: .5rem !important;}
    .transboximg{background-size: cover !important;}
    .vh-75{min-height: 78vh;}
}
html, body {
    height: 100%;
    font-family: 'Helvetica-Regular' !important;
}
.page-content {
    min-height: 95%;
    position: relative;
}
.text-mays{
  text-transform: capitalize;
}
footer{
    min-height: 56px;
    background-color: #A6DAFC;
}
input:focus-visible{
    outline: none;
}
/*Navbar*/
.navbar-nav .nav-item:hover{
    filter: brightness(3) saturate(0.5) hue-rotate(5deg);
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler{
    font-family: 'Helvetica-Bold';
    font-size: 0.75rem !important;
    color: #707070 !important;
}
.navbar-toggler-icon{
    background-image:url('../src/assets/img/icon.svg') !important;
}
ul{
    list-style: none;
}
.form-control:focus{
    border: none !important;
    box-shadow: none !important;
}
.input-group-text{
    background-color: transparent !important;
    border: none !important;
}
.input{
    background-color: #fff;
    border: 1px solid #015287;
    border-radius: 20px !important;
    font-size: 0.938rem;
    color: #707070;
    padding-left: .5rem;
}
.input2{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #A6DAFC;
    font-size:1.5rem;
    color: #707070;
    padding-left: .5rem;
}
.input3{
    display: block;
    width: 85%;
    background-color: #fff;
    border: .5px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: .375rem;
}
.input4{
    width: 20%;
    display: block;
    background-color: #014F81;
    border: none;
    color: #fff;
    padding: .375rem .75rem;
    border-radius: 7px;
}
.input5{
  width: 100%;
  background-color: #F2FAFF;
  border: none;
  color: #707070;
  padding: .375rem .75rem;
  border-radius: 5px;
}
input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.input3[type="file"]{
    padding-left: 0;
    border: none !important;
}
input[type=file]::-webkit-file-upload-button{
    background: #707070;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: .5%;
    padding-left: 2%;
    padding-right: 2%;
}
.dropdown-toggle{
    font-family: 'Helvetica-Bold';
    font-size: 0.938rem !important;
    color: #015287 !important;
}
.dropdown-menu{
    /*background-color: transparent !important;
    border: none !important;*/
    padding: 0 !important;
    min-width: 100px !important;
}
.dropdown-item{
    color: #015287 !important;
    cursor: pointer;
}
.navbar-brand{
    cursor: pointer;
}
.dropdown-item.text-white{
    color: #fff !important;
}
select:focus-visible{
    outline: none !important;
}
.top{
    padding-top: 5%;
    padding-bottom: 5%;
}
hr{
    border-top: 5px solid !important;
    width: 25%;
    color: #A6DAFC !important;
    border-radius: 10px;
}
.hr-gris{
    border-top: 2.5px solid !important;
    width: 100%;
    color: #707070 !important;
    opacity: 1;
}
.vr{
    width: 3px !important;
    background-color: #A6DAFC !important;
}
.w-85{
    width: 85% !important;
}
.card{
  border: none !important;
  border-radius: 32px !important;
  overflow: hidden;
}
/*Card Home*/
.home .card{
    aspect-ratio: 1/1;
}
.corpo{
    width: 100%;
    max-width: 150px;
    height: 100vh !important;
    max-height: 150px;
}
.corpo img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.home .card-img{
    width: 95% !important;
    border-radius: 32px !important;
    height: 100%;
    transition:all 0.25s ease-in-out;
}
.home .card-img-overlay{
  padding: 0 !important;
}
.home .card:hover .card-img{
    transform: scale(1.1);
}
.slidemodulo{aspect-ratio: 1/1;}
.slidemodulo .item{
  height: 100%;
  border-radius: 32px;
}
.slidemodulo .item img{
  border-radius: 32px;
}
.card-img-overlay .blue{
    position: relative;
    width: 100%;
    min-height: 150px;
    /*left: -5%;*/
    background-color: rgb(1, 82, 135, .9);
    padding: 5%;
}
.card-title{
    background: rgb(255, 255, 255, .9);
    font-family: 'Helvetica-Bold';
    font-size: 1.3rem !important;
    color: #707070;
    border-radius: 50px;
    width: 70%;
    text-align: center;
    padding: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.card-text{
    font-size: 0.875rem !important;
    color: #fff !important;
    text-align: center;
}
.carousel-caption{
    bottom: 30% !important;
}
.carousel-control-next, .carousel-control-prev{
    width: auto;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 5rem;
    height: 5rem;
}
.temas a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.temas a{
    font-size:.9rem;
    color: #015287;
    text-decoration: none;
}
.temas h2, .temas h3{
    font-size:1.2rem;
    color: #015287;
}
/*Botones*/
.boton{
    font-size: 1rem !important;
    background-color: #7CB5DB;
    border-radius: 30px;
    color: #fff;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
}
.boton2{
    font-family: 'Helvetica-Bold';
    font-size: 0.938rem !important;
    color: #015287;
    border: none;
    background: transparent;
    text-decoration: underline;
}
.boton3{
    font-size: 1.8rem;
    background-color: #015287;
    border-radius: 30px;
    color: #fff;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
}
.boton3copy{
    font-size: 1.8rem;
    background-color: #919191;
    border-radius: 30px;
    color: #fff;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
}
.boton4{
  font-family: 'Helvetica-Bold';
  font-size: 1.1rem !important;
  color: #015287;
  border: none;
  background: transparent;
  padding-left: 0;
  text-align: left;
}
.botondrop {
    font-family: 'Helvetica-Regular';
    background-color: #015287;
    color: #fff !important;
    border-radius: 10px;
    border: none;
    padding: .5% 2%;
}
/*Estilo input file*/
.file {
    color: transparent;
}
.file::-webkit-file-upload-button {
    visibility: hidden;
}
.file{
    display: inline-block;
    background-image: url(../src/assets/img/imgpreg.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 10%;
}

/*input[type="file"]::file-selector-button{
    background-color: transparent;
    background-image: url(../src/assets/img/imgpreg.svg);
    background-repeat: no-repeat;
    content: "";
}*/
/*Textos*/
.text{
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 0;
}
.text1{
    font-family: 'Helvetica-Bold';
    font-size: 2.9rem;
    padding-top: 6%;
    padding-bottom: 4%;
    text-align: center;
}
.text2{
    font-size:2.6rem
}
.text3{
    font-size:1.8rem
}
.text4{
    font-family: 'Helvetica-Bold';
    font-size:1.5rem
}
.text5{
    font-size:1.25rem
}
.text6{
    font-family: 'Helvetica-Bold';
    font-size:1.25rem
}
.text7{
    font-size:1.1rem
}
.text8{
    font-size:1rem
}
.text9{
    font-size:.9rem
}
.text10{
    font-family: 'Helvetica-Bold';
    font-size:.9rem
}
.text11{
    font-size:.8rem
}
.text12{
    font-family: 'Helvetica-Bold';
    font-size:2.6rem;
}
.text13{
    font-family: 'Helvetica-Bold';
    font-size:1.1rem;
}
.text14{
    font-family: 'Helvetica-Bold';
    font-size:1.8rem
}
/*Color de Textos*/
.txt-gris{
    color: #919191;
}
.txt-gris2{
    color: #707070;
}
.txt-blue{
    color: #015287;
}
.txt-blue2{
    color: #A6DAFC;
}
/*Background*/
.bg-blue{
    background-color: #015287 !important;
}
.bg-blue2{
    background-color: #F2FAFF !important;
}
.bg-blue3{
    background-color: #A6DAFC !important;
}
.bg-blue4{
    background-color: #7CB5DB !important;
}
.bg-grey{
    background-color: #919191 !important;
}
.bg-grey2{
    background-color: #707070 !important;
}
.bg-yellow{
    background-color: #EBC81C !important;
}
/*Borders*/
.border-blue{
    border: 3px solid #014F81;
}
.border-gris{
    color: #707070 !important;
}
.rounded-circle.border-blue{
    width: 100%;
    aspect-ratio: 1/1;
}
/*Modales*/
.modal-content{
    border: none;
    border-radius: 32px !important;
}
.modal-header{
    border-bottom: none !important;
}
.modal-footer{
    border-top: none !important;
}
.modal-body{
    padding: 5% !important;
    padding-top: 0 !important;
}
.btn-close{
    opacity: 1 !important;
    background-image: url("../src/assets/img/close.svg") !important;
}
.btn-close:focus{
    box-shadow: none !important;
}
.modal-title{
    font-family: 'Helvetica-Bold';
    font-size: 1.5rem !important;
    color: #015287;
}
/*Acordeon*/
.accordion-button{
    background-color: #D2ECFD !important;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    box-shadow: none !important;
}
.accordion-button::after{display: none !important;}
.accordion-collapse{
    background-color: #F2FAFF !important;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
}
/*Slick*/
.slick-prev{
    top: 40% !important;
    z-index: 1;
    left: 1rem !important;
}
.slick-next{
    top: 40% !important;
    z-index: 1;
    right: 3rem !important;
}
.slick-prev:before{
    opacity: 1 !important;
    content: url('../src/assets/img/left.svg') !important;
}
.slick-next:before{
    opacity: 1 !important;
    content: url('../src/assets/img/right.svg') !important;
}
/*Seccion*/
.seccion{
    background-image: url('../src/assets/img/carousel1.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(166, 218, 252, .85);
}
textarea:focus-visible{
  outline: none;
}
.transbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.transboximg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    /*background-image: url(../src/assets/img/portada.svg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.transbox2{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background-color: rgb(1, 82, 135, .85);
}
.modulo .card:hover .transbox2{
    opacity: 1;
}
/*Radio*/
.form-check-input:checked{
    background-color: #015287 !important;
    border-color: #015287 !important;
}
.form-check-input:focus{
    box-shadow: none !important;
}
.form-check-input:checked[type=radio]{
    background-image: none !important;
}
/*Colores platillas*/
/*Azul*/
.azul .transbox, footer{
    background-color: rgb(166, 218, 252, .85);
}
.azul .color{
    background-color: #F2FAFF;
}
.azul footer, .azul .vr{
    background-color: #A6DAFC !important;
}
.azul hr{
    color: #A6DAFC !important;
}
/*Amarillo*/
.amarillo .transbox{
    background-color: rgb(239, 203, 61, .85);
}
.amarillo .color{
    background-color: #FFF8DC;
}
.amarillo footer, .amarillo .vr{
    background-color: #EFCB3D !important;
}
.amarillo hr{
    color: #EFCB3D !important;
}
/*Verde*/
.verde .transbox{
    background-color: rgb(141, 206, 104, .85);
}
.verde .color{
    background-color: #EFFFE6;
}
.verde footer, .verde .vr{
    background-color: #8DCE68 !important;
}
.verde hr{
    color: #8DCE68 !important;
}
/*Rojo*/
.rojo .transbox{
    background-color: rgb(235, 95, 95, .85);
}
.rojo .color{
    background-color: #FFDFDF;
}
.rojo footer, .rojo .vr{
    background-color: #EB5F5F !important;
}
.rojo hr{
    color: #EB5F5F !important;
}
/*Perfil*/
.table{
    vertical-align:middle !important;
}
table.dataTable thead th, table.dataTable.no-footer{
    border-bottom: none !important;
}
tr{
    border-color: #fff !important;
}
td{
    color: #015287;
    font-size:1.25rem;
    vertical-align:middle;
}
.tema{
    width: 100%;
    max-width: 43px;
    height: 100vh;
    max-height: 43px;
    object-fit: cover;
}
.modulos td:first-child{
    width: 10% !important;
    padding-left: 3%;
}
.modulos.dataTable.stripe>tbody>tr.odd>*, .modulos.dataTable.display>tbody>tr.odd>*{
    box-shadow: inset 0 0 0 9999px rgb(242 250 255);
}
.buscar{
    background:transparent;
}
.newclass{
    position: absolute !important;
    animation: fadeInRight 1s ease-in-out;
    z-index: 2;
    width: 94%;
    background-color: #fff;
    padding: 2%;
}
.newclass.buscar .input{
    width: 80%;
    display: block;
    transition: 3s;
}
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
}
/*-------------Admin--------------------*/
.tab-content{
    border: 10px solid #015287;
    padding: 3%;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.nav-tabs{
    border-bottom: none !important;
}
.nav-tabs .nav-link.active{
    background-color: #015287 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none;
}
.nav-tabs .nav-link{
    background-color: #F2FAFF !important;
    color: #015287 !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 40px !important;
    width: 20%;
    font-size: 1.8rem;
}
.table thead{
    font-family: 'Helvetica-Bold';
    font-size: 1.8rem;
    color: #015287;
}
.table th[scope="row"]{
    font-family: 'Helvetica-Bold';
    font-size: 1.1rem;
    color: #015287 !important;
}
.table td{
    font-size: 1.1rem;
    color: #707070;
}
.table td:nth-child(3) {
    white-space: nowrap;
}
.table.data td:nth-child(4) {
    white-space: nowrap;
}
.table.data td:nth-child(3) {
    white-space:normal;
}
.striped>tbody>tr:nth-of-type(odd)>*{
    background-color: #F2FAFF !important;
}
.striped tbody{
    background-color: #EFEFEF;
}
/*---------------------------
.dataTables_length select{
    background-color: #015287 !important;
    border-radius: 12px !important;
    color: #fff !important;
    border: none !important;
    font-family: 'Helvetica-Regular';
    font-size: .9rem;
    margin-bottom: 10%;
}
.dataTables_length label{
    font-family: 'Helvetica-Bold';
    font-size: 1rem;
    color: #015287;
}
.dataTables_info{
    font-family: 'Helvetica-Regular';
    font-size: .9rem;
    color: #707070;
}
.dataTables_paginate{
    display: flex;
    justify-content: center;
}
.dataTables_paginate .paginate_button, .paginate_button.previous, .paginate_button.next{
    font-family: 'Helvetica-Regular';
    font-size: 1.1rem;
    color: #015287 !important;
    text-decoration: none;
    cursor: pointer;
}
.dataTables_paginate .paginate_button.current{
    color: #A6DAFC !important;
}
.paginate_button.first{
    margin-right: 2%;
}
.paginate_button.last{
    margin-left: 2%;
}
.dataTables_paginate span .paginate_button{
    margin-left: 20%;
    margin-right: 20%;
}
.dataTables_paginate span{
    margin-left: 2%;
    margin-right: 2%;
}*/
.table.data thead{
    font-size: 1.1rem;
}
.table.data.est thead{
    vertical-align: middle;
    font-size: .8rem;
}
.table.est th[scope="row"]{
    font-size: .8rem;
}
.table.est td{
    font-size: .8rem;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 300px;
}
.list-group-item{
  border: none !important;
}
.list-group li:nth-child( odd ) {
  background-color: #F2FAFF !important;
}
.list-group li:nth-child( even ) {
  background-color: #EFEFEF !important;
}
.aspect1-1{
    aspect-ratio: 1/1;
}
.ngx-pagination{
    font-family: 'Helvetica-Regular' !important;
    color: #015287 !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.ngx-pagination .disabled{
    color: #A6DAFC !important;
}
.ngx-pagination .current{
    background: #fff !important;
    color: #A6DAFC !important;
}
.ngx-pagination .pagination-previous, .ngx-pagination .pagination-next{
    color: #015287 !important;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
    content: url("../src/assets/img/left.png") !important;
}
.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
    content: url("../src/assets/img/right.png") !important;
}
.imgPreview{
    display: block;
    width: 25%;
    aspect-ratio: 1/1;
}
.imgPreviewCab{
  display: block;
  width: 50%;
  aspect-ratio: 2/1;
}
.form-select{
    border: none;
    color: #015287;
    font-size: 1.25rem;
    background-image: url(../src/assets/img/down.png);
    background-size: 16px 8px !important;
}
.form-select:focus{
    box-shadow: none !important
}
.cuadro{
    width: 100%;
    height: 100%;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}
