<div class="container-lg page-content top">
    <div class="row">
        <div class="col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true"
                        (click)="onClickTab()">Mail</button>
                </div>
            </nav>
            <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div *ngIf="this.viewMail == 0">
                        <div class="row d-flex align-items-center">
                            <div class="col-6">
                                <label class="text3 txt-blue2">Correos programados</label>
                            </div>
                            <div class="col-8 col-md-4 col-lg-3 offset-lg-3">
                                <button class="boton bg-blue w-100 p-1 p-md-2" (click)="changeViewMail(2, 'crear')">
                                    <img src="assets/img/agregar.svg" alt="agregar">
                                    Agregar correo nuevo
                                </button>
                            </div>
                        </div>
                        <hr class="w-100">
                        <!--Tabla--->
                        <table id="mails" class="table data striped display responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Asunto</th>
                                    <th>Fechas</th>
                                    <th>Correos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let mails of this.mail | paginate: { id: 'mail', itemsPerPage: 6, currentPage: p}; let i=index">
                                    <th scope="row"><button type="button" class="boton4"
                                            (click)="changeViewMail(1, 'editar', mails.id)">{{mails.asunto}}</button></th>
                                    <td>{{fecha[i]}}</td>
                                    <td>{{correo[i]}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" *ngIf="this.mailCount > 6">
                            <div class="col-12">
                                <pagination-controls id="mail" class="w-100 d-flex justify-content-center" (pageChange)="p = $event" previousLabel="Anterior"
                                nextLabel="Siguiente"></pagination-controls>
                            </div>
                        </div>
                    </div>

                    <!--Nuevo Correos--->
                    <div *ngIf="this.viewMail == 2">
                      <div class="row mt-3 mb-3 d-flex align-items-center">
                          <div class="col-lg-6 ">
                              <label class="text3 txt-blue2">Enviar Correo</label>
                          </div>
                          <div class="col-6 offset-6 col-lg-2 offset-lg-4">
                              <button class="boton rounded-pill bg-blue aspect1-1 float-end" (click)="changeViewMail(0)">
                                  <i class="fas fa-reply"></i>
                              </button>
                          </div>
                      </div>
                      <hr class="w-100">
                      <form [formGroup]="formNewMail">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Título</label>
                              <input type="text" class="input3" id="exampleInputEmail1" aria-describedby="emailHelp"
                                  formControlName="titulo">
                          </div>
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Cuerpo</label>
                              <ckeditor [editor]="Editor" data=""  (ready)="onReady($event)" formControlName="cuerpo"></ckeditor>
                              <!--ckeditor [(ngModel)]="content" [config]="ckeditorConfig"></ckeditor-->


                          </div>
                          <div class="mb-3">
                              <label for="formFile" class="text13 txt-blue mb-2">Adjuntar archivos</label>
                              <input class="input3" type="file" id="formFile" (change)="files($event)">
                          </div>
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Selecciona las
                                  fechas</label>
                              <input type="date" class="input3 w-auto" id="exampleInputEmail1" value="{fecha[i]}"
                                  formControlName="fechas">
                          </div>
                          <div class="row">
                              <div class="col-md-2 col-lg-2">
                                  <label class="text13 txt-blue">Buscar por:</label>
                              </div>
                              <div class="col-md-6 col-lg-5 col-xl-4">
                                  <div class="form-check form-check-inline ps-0 mb-2">
                                      <label class="text13 txt-blue float-start" for="inlineRadio1">Nombre</label>
                                      <input class="form-check-input ms-3" [(ngModel)]="searchSelect"
                                          (change)="changeOption('search')" [ngModelOptions]="{standalone: true}"
                                          [value]="1" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                  </div>
                                  <div class="form-check form-check-inline ps-0 mb-2">
                                      <label class="text13 txt-blue float-start" for="inlineRadio1">Area</label>
                                      <input class="form-check-input ms-3" [(ngModel)]="searchSelect"
                                          (change)="changeOption('search')" [ngModelOptions]="{standalone: true}"
                                          [value]="2" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                  </div>
                                  <div class="form-check form-check-inline ps-0 mb-2">
                                      <label class="text13 txt-blue float-start" for="inlineRadio1">Puesto</label>
                                      <input class="form-check-input ms-3" type="radio" name="inlineRadioOptions"
                                          id="inlineRadio1" [(ngModel)]="searchSelect"
                                          (change)="changeOption('search')" [ngModelOptions]="{standalone: true}"
                                          [value]="3">
                                  </div>
                              </div>
                              <div class="col-6 col-md-3 col-lg-2">
                                  <button class="botondrop bg-grey2 ps-2 pe-2" (click)="searchUsers('show')">Mostrar
                                      todos</button>
                              </div>
                          </div>
                          <div class="mt-3 mb-3">
                              <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Buscar</label>
                              <input type="text" class="input3" id="busqueda" aria-describedby="emailHelp"
                                  [ngModelOptions]="{standalone: true}" (ngModelChange)="didModify()"
                                  [(ngModel)]="text1">
                          </div>
                          <div class="row mt-4 mb-4" *ngIf="this.length != 0">
                              <div class="col-12 col-lg-6">
                                  <ul class="list-group">
                                      <li class="list-group-item"
                                          *ngFor="let user of searchArray | paginate: { itemsPerPage: 6, currentPage: pedit }">
                                          <input class="form-check-input me-1 float-end" type="checkbox"
                                              value="{{user.idUser}}" id="firstCheckbox"
                                              (change)="changeValue($event)">
                                          <label class="text13 txt-blue" for="firstCheckbox">{{user.full_name}}
                                          </label>
                                      </li>
                                  </ul>
                              </div>
                              <div class="col-12">
                                  <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="pedit = $event" previousLabel="Anterior"
                                  nextLabel="Siguiente"></pagination-controls>
                              </div>
                          </div>
                          <div *ngIf="showLength != 0">
                              <label class="text13 txt-blue mt-4 mb-2">Usuarios seleccionados</label>
                              <label class="text7 txt-gris d-block" *ngFor="let alumno of showArr">{{alumno.full_name}}</label>
                            </div>
                          <div class="row">
                              <div class="col-6 col-md-4 offset-3 offset-md-4 col-lg-2 offset-lg-5 mt-3">
                                  <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2"
                                      (click)="saveCorreo()">Enviar</button>
                              </div>
                          </div>
                      </form>
                    </div>

                    <!--Correos--->
                    <div *ngIf="this.viewMail == 1">
                        <div class="row mt-3 mb-3 d-flex align-items-center">
                            <div class="col-lg-6 ">
                                <label class="text3 txt-blue2">Editar Correo</label>
                            </div>
                            <div class="col-6 offset-6 col-lg-2 offset-lg-4">
                                <button class="boton rounded-pill bg-blue aspect1-1 float-end" (click)="changeViewMail(0)">
                                    <i class="fas fa-reply"></i>
                                </button>
                            </div>
                        </div>
                        <!--label class="text3 txt-blue2 mt-3">Enviar Correo</label>
                        <div class="col-lg-2 offset-lg-4 mt-3">
                            <button class="boton bg-blue mx-auto d-block w-100 p-2" (click)="changeViewMail(0)">Regresar
                                a
                                Listado</button>
                        </div-->
                        <hr class="w-100">
                        <form [formGroup]="formMail">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Título</label>
                                <input type="text" class="input3" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    formControlName="titulo">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Cuerpo</label>
                                <ckeditor [editor]="Editor" data=""  (ready)="onReady($event)" formControlName="cuerpo"></ckeditor>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="text13 txt-blue mb-2">Adjuntar archivos</label>
                                <input class="input3" type="file" id="formFile" (change)="files($event)">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Selecciona las
                                    fechas</label>
                                <input type="date" class="input3 w-auto" id="exampleInputEmail1" value="{fecha[i]}"
                                    formControlName="fechas">
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-lg-2">
                                    <label class="text13 txt-blue">Buscar por:</label>
                                </div>
                                <div class="col-md-6 col-lg-5 col-xl-4">
                                    <div class="form-check form-check-inline ps-0 mb-2">
                                        <label class="text13 txt-blue float-start" for="inlineRadio1">Nombre</label>
                                        <input class="form-check-input ms-3" [(ngModel)]="searchSelect"
                                            (change)="changeOption('search')" [ngModelOptions]="{standalone: true}"
                                            [value]="1" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                    </div>
                                    <div class="form-check form-check-inline ps-0 mb-2">
                                        <label class="text13 txt-blue float-start" for="inlineRadio1">Area</label>
                                        <input class="form-check-input ms-3" [(ngModel)]="searchSelect"
                                            (change)="changeOption('search')" [ngModelOptions]="{standalone: true}"
                                            [value]="2" type="radio" name="inlineRadioOptions" id="inlineRadio1">
                                    </div>
                                    <div class="form-check form-check-inline ps-0 mb-2">
                                        <label class="text13 txt-blue float-start" for="inlineRadio1">Puesto</label>
                                        <input class="form-check-input ms-3" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio1" [(ngModel)]="searchSelect"
                                            (change)="changeOption('search')" [ngModelOptions]="{standalone: true}"
                                            [value]="3">
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 col-lg-2">
                                    <button class="botondrop bg-grey2 ps-2 pe-2" (click)="searchUsers('show')">Mostrar
                                        todos</button>
                                </div>
                            </div>
                            <div class="mt-3 mb-3">
                                <label for="exampleInputEmail1" class="text13 txt-blue mb-2">Buscar</label>
                                <input type="text" class="input3" id="busqueda" aria-describedby="emailHelp"
                                    [ngModelOptions]="{standalone: true}" (ngModelChange)="didModify()"
                                    [(ngModel)]="text1">
                            </div>
                            <div class="row mt-4 mb-4" *ngIf="this.length != 0">
                                <div class="col-12 col-lg-6">
                                    <ul class="list-group">
                                        <li class="list-group-item"
                                            *ngFor="let user of searchArray | paginate: { itemsPerPage: 6, currentPage: pedit }">
                                            <input class="form-check-input me-1 float-end" type="checkbox"
                                                value="{{user.idUser}}" id="firstCheckbox"
                                                (change)="changeValue($event)">
                                            <label class="text13 txt-blue" for="firstCheckbox">{{user.full_name}}
                                            </label>
                                        </li>
                                        <!--<li class="list-group-item">
                                      <input class="form-check-input me-1 float-end" type="checkbox" value="" id="secondCheckbox">
                                      <label class="text13 txt-blue" for="secondCheckbox">Alejandra</label>
                                    </li>
                                    <li class="list-group-item">
                                      <input class="form-check-input me-1 float-end" type="checkbox" value="" id="thirdCheckbox">
                                      <label class="text13 txt-blue" for="thirdCheckbox">Alejandra</label>
                                    </li>-->
                                    </ul>
                                </div>
                                <div class="col-12">
                                    <pagination-controls class="w-100 d-flex justify-content-center" (pageChange)="pedit = $event" previousLabel="Anterior"
                                    nextLabel="Siguiente"></pagination-controls>
                                </div>
                            </div>
                            <div *ngIf="showLength != 0">
                                <label class="text13 txt-blue mt-4 mb-2">Usuarios seleccionados</label>
                                <label class="text7 txt-gris d-block" *ngFor="let alumno of showArr">{{alumno.full_name}}</label>
                              </div>
                            <div class="row">
                                <div class="col-6 col-md-4 offset-3 offset-md-4 col-lg-2 offset-lg-5 mt-3">
                                    <button class="boton bg-blue mx-auto d-block w-100 p-1 p-md-2"
                                        (click)="editCorreo()">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
